.copytext
  // Styling for generic html elements, e.g. in cases
  // of WYSIWYG texts
  h1
    font-h4()

  h2
    font-h5()

  h3
    font-h6()

  h4
    font-l()

  h5
    font-m()

  h6
    font-s()

  h1, h2, h3, h4, h5, h6
    font-weight var(--font-weight-medium)

  p
    margin-bottom var(--spacing-s)

  * + p
    margin-top var(--spacing-xs)

  a
    text-decoration underline
    color var(--link)
    font-weight var(--font-weight-medium)
    letter-spacing 0.01rem

    &:hover
      text-decoration none

    &:active
      color var(--notification)
      text-decoration none

  strong
    font-weight var(--font-weight-semi-bold)

  ul
  ol
    padding-left var(--spacing-xl)

    li
      padding-left var(--spacing-xs)

    li + li
      margin-top var(--spacing-s)

  ol
    list-style-type decimal

  ul
    li
      position relative

    li:before
      display block
      content ''
      height 0.50rem
      width 0.50rem
      background var(--neutral-60)
      border 0.06rem solid var(--primary)
      border-radius var(--border-radius-small)
      position absolute
      left -1.00rem
      top 0.25rem

  img
    max-width 100%

  blockquote
    font-size var(--font-h6)
    line-height 1.50rem
    padding var(--spacing-s) 0 var(--spacing-s) var(--spacing-m)
    border-left 0.19rem solid var(--neutral-40)
    margin-bottom var(--spacing-s)

    cite
      display block
      font-size var(--font-small)
      line-height 1.13rem
      color var(--neutral-70)
      margin-top var(--spacing-xs)

