@font-face
  font-display fallback
  font-family 'Montserrat-Regular'
  src url(/fonts/Montserrat-Regular.ttf) format('truetype')

@font-face
  font-display fallback
  font-family 'Montserrat-Medium'
  src url(/fonts/Montserrat-Medium.ttf) format('truetype')
