@font-face
  font-display fallback
  font-family 'Montserrat-Regular'
  src url(/pattern-library/Montserrat-Regular.ttf) format('truetype')

@font-face
  font-display fallback
  font-family 'Montserrat-Medium'
  src url(/pattern-library/Montserrat-Medium.ttf) format('truetype')
