.form-field
  display block
  margin-top 1.5rem

  &.form-field--required
    .form-field__label:after
      content " *"

  .form-field__label
    flex 0 0 100%
    max-width 100%
    display block
    font-weight var(--font-weight-light)
    font-size 1.5rem

  .form-field__component
    width 100%
    font-size var(--font-size-base)
    font-weight var(--font-weight-medium)
    font-family var(--font-family-regular)
    margin-top 0.5rem
    padding 1rem
    border-radius 4px
    border 1px solid var(--neutral-40)

    &.form-field__select
      min-height 4rem

    &.form-field__input
      min-height 4rem

    &.form-field__input[type="text"]:focus,
    &.form-field__input[type="email"]:focus,
    &.form-field__textarea:focus
      border-color var(--neutral-60)
      box-shadow unset
      outline none

    &.form-field__textarea
      min-height 10rem

  &__status
    font-weight var(--font-weight-light)
    font-size 1.5rem
    width 100%
    margin-top 1.5rem
    margin-bottom 1.5rem
    padding 1rem
    white-space normal
    min-height 4rem
    border-radius 4px
    display none

    &.form-field__status--failure
      display block
      background-color var(--error)
      border 1px solid var(--error)

    &.form-field__status--success
      display block
      background-color var(--positive)
      border 1px solid var(--positive)

  .form-field__error
    margin-top 0.5rem
    color var(--error)