.flyout-box
  position absolute
  right 0
  margin-left auto
  box-shadow inset 0 -0.06rem 0 0 var(--color-neutral-content), 0 0.13rem 1.00rem -0.63rem rgba(0, 0, 0, 0.5)
  border 0.06rem solid var(--neutral-40)
  padding var(--spacing-m) var(--spacing-m)
  z-index var(--z-index-overlay)
  background-color var(--neutral-00)
  overflow-y auto
  width calc(100vw - 2.75rem)

  @media (min-width var(--breakpoint-s))
    width 100%
