$breakpoint-medium = 800px

.flyout-box
  position absolute
  right 0
  margin-left auto
  box-shadow inset 0 -1px 0 0 #dcdee0, 0 2px 16px -10px rgba(0,0,0,0.5)
  border 1px solid var(--neutral-40)
  padding 2rem 1.5rem
  z-index var(--z-index-overlay)
  background-color var(--neutral-00)
  overflow-y auto
  width calc(100vw - 4.4rem)

  @media (min-width $breakpoint-medium)
    width 100%