.ratings
  padding var(--spacing-s) var(--spacing-m)

  @media (min-width var(--breakpoint-m))
    padding var(--spacing-s) var(--spacing-m)

  &__form
    padding-bottom var(--spacing-m)
    margin-bottom var(--spacing-m)
    max-width 31.25rem

  .heading
    margin-bottom var(--spacing-m)

  .ratings__rating
    padding-bottom var(--spacing-m)
    max-width 43.75rem

  .ratings__rating-header
    display flex
    gap var(--spacing-s)

.star-input
  display flex
  cursor pointer

  &--disabled
    cursor auto

  .star-input__star
    width 1.25rem
    height 1.25rem
    color var(--neutral-60)

    &--active
      color var(--brand-3)
