.drawer
  position fixed
  inset 0
  z-index 1000
  transition all 0.3s

  .content
    box-shadow 6px 0 16px 0 rgba(0, 0, 0, 0.08), 3px 0 6px -4px rgba(0, 0, 0, 0.12), 9px 0 28px 8px rgba(0, 0, 0, 0.05)
    background #ffffff
    height 100%
    overflow auto
    max-width 100vw
    

  &.drawer-left
    right unset
    transform translateX(-100%)


  &.drawer-right
    left unset
    transform translateX(100%)


  &.drawer-top
    bottom unset
    transform translateY(-100%)


  &.drawer-bottom
    top unset
    transform translateY(100%)


  &.drawer--open
    transform unset
    