MAKAIRA_API_URL=https://<customer>.makaira.io
MAKAIRA_API_INSTANCE=<instance>
MAKAIRA_ASSET_URL=https://<bucket>.s3.eu-central-1.amazonaws.com
MAKAIRA_TRACKING_ID=<id>

SHOP_ID=1
SHOP_DOMAIN=http://localhost:5000
PRODUCTS_PER_PAGE=50

SENDGRID_API_KEY=<SENDGRID_API_KEY>

# Shopify Customer Account API (OAuth PKCE)
# Required for Shopify login integration. Set up a Headless Customer Account API
# app in your Shopify Admin under Settings > Apps > Customer Account API.
# NEXT_PUBLIC_SHOPIFY_AUTH_BASE_URL=https://shopify.com/<shop-id>
# NEXT_PUBLIC_SHOPIFY_AUTH_CLIENT_ID=<client-id>
# NEXT_PUBLIC_SHOPIFY_CUSTOMER_ACCOUNT_URL=https://shopify.com/<shop-id>/account/customer/api/2024-01/graphql
# NEXT_PUBLIC_SHOPIFY_STOREFRONT_URL=https://<shop>.myshopify.com/api/2024-01/graphql.json
# NEXT_PUBLIC_SHOPIFY_STOREFRONT_ACCESS_TOKEN=<storefront-api-access-token>
# NEXT_PUBLIC_SHOP_DOMAIN=http://localhost:5000
