$breakpoint-small = 320px
$breakpoint-medium = 768px
$breakpoint-large = 990px
$breakpoint-huge = 1500px

.content-element
  // margin-bottom var(--spacer-xxl)
  margin-left auto
  margin-right auto
  margin-bottom 0
  width 100%

.content-element--full-header, .content-element--reduced-header
  margin-bottom 0 !important

.content-element--links
  margin-bottom var(--spacer-xxl)