.single-teaser
  background var(--tertiary)
  margin var(--spacing-s) 0

  @media (min-width var(--breakpoint-xs))
    display flex
    margin var(--spacing-s) var(--spacing-m)

  @media (min-width var(--breakpoint-m))
    margin var(--spacing-s) var(--spacing-m)

.single-teaser__image
  display block
  height 18.37rem

  @media (min-width var(--breakpoint-xs))
    height 16.50rem

  @media (min-width var(--breakpoint-s))
    height 19.50rem
    max-width 23.00rem
    flex 1 0 auto

  picture
    display flex
    height 100%

  img
    width 100%
    object-fit cover

.single-teaser__content
  padding var(--spacing-s) var(--spacing-m)

  @media (min-width var(--breakpoint-xs))
    flex 1 0 50%

  @media (min-width var(--breakpoint-s))
    display flex
    flex-direction column
    align-items flex-start

.single-teaser__button
  margin-top var(--spacing-s)

  @media (min-width var(--breakpoint-s))
    margin-top auto
