.login-box__forgot-password
  height 3.1rem

  .button--link:hover
    border none

.login-box__title
  width 100%
  text-align center
  border-bottom 1px solid var(--neutral-40)
  padding-bottom 1rem

.login-box__button
  width 100%
  text-align center
  margin-top 1rem