.login-box__forgot-password
  height 1.94rem

  .button--color-primary-main:hover
    border none

.login-box__title
  width 100%
  text-align center
  border-bottom 0.06rem solid var(--color-primary-content)
  padding-bottom var(--spacing-s)

.login-box__button
  width 100%
  text-align center
  margin-top var(--spacing-s)
