.breadcrumb
  width calc(100% - 1.88rem)
  margin 0 auto
  padding var(--spacing-m) 0

  .list
    display flex
    flex-wrap wrap
    align-items center
    list-style none
    width 100%

    .item
      display inline-flex
      padding-left var(--spacing-xs)
      display none

      @media (min-width var(--breakpoint-s))
        display block

      .home
        height 0.88rem
        width 0.88rem

    .item:not(:first-child):not(.item--mobile-visible)
      &::before
        padding-right var(--spacing-xs)
        content '/'

    .item--mobile-visible
      display block

      @media (min-width var(--breakpoint-s))
        display none
