.hero-teaser
  color var(--color-base-darker)
  padding var(--spacing-s) 0

  @media (min-width var(--breakpoint-xs))
    padding var(--spacing-s) var(--spacing-m)

  @media (min-width var(--breakpoint-s))
    padding var(--spacing-s) var(--spacing-m)

.hero-teaser__container

  @media (min-width var(--breakpoint-xs))
    display flex

  @media (min-width var(--breakpoint-s))
    display block
    position relative

.hero-teaser__image-wrapper
  position relative

.hero-teaser__image
  display flex
  height 31.25rem

  @media (min-width var(--breakpoint-s))
    height 38.75rem

  @media (min-width var(--breakpoint-m))
    height 56.25rem

  img
    width 100%
    object-fit cover

.hero-teaser__title-wrapper
  position absolute
  top 2.13rem
  left 0.94rem
  right 0.94rem
  bottom 1.63rem
  display flex
  flex-direction column

  @media (min-width var(--breakpoint-s))
    top 5.63rem
    left 4.69rem
    right auto
    bottom auto
    max-width calc(100% - 4.69rem - 18.13rem) // 4.69rem from the left + 18.13rem width of overlay

  @media (min-width var(--breakpoint-m))
    max-width calc(100% - 4.69rem - 18.13rem - 5.00rem) // additional 5.00rem for the right positioning of overlay

  @media (min-width var(--breakpoint-l))
    max-width 50.00rem

.hero-teaser__title--text
  font-size var(--font-h4)
  font-weight var(--font-weight-semi-bold)
  line-height 2.25rem
  letter-spacing 0.03rem

  @media (min-width var(--breakpoint-s))
    font-size var(--font-h2)
    line-height 3.00rem
    letter-spacing 0.07rem

.hero-teaser__title--pre
.hero-teaser__title--sub
  font-size var(--font-small)
  line-height 1.13rem

  @media (min-width var(--breakpoint-s))
    font-size var(--font-h6)
    line-height 1.50rem

.hero-teaser__title--pre
  margin-bottom var(--spacing-xs)

  @media (min-width var(--breakpoint-s))
    margin-bottom var(--spacing-m)

.hero-teaser__title--sub
  margin-top auto

  @media (min-width var(--breakpoint-s))
    margin-top var(--spacing-l)

.hero-teaser__overlay
  background var(--color-base-darkest)
  padding var(--spacing-s) var(--spacing-m) var(--spacing-m)
  position relative

  @media (min-width var(--breakpoint-xs))
    display flex
    flex-direction column
    align-items flex-start
    flex 0 0 13.75rem
    padding var(--spacing-xl) var(--spacing-m) var(--spacing-m)

  @media (min-width var(--breakpoint-s))
    background var(--hero-teaser-overlay-background-opaque)
    width 18.13rem
    position absolute
    top 0
    right 0
    bottom 0
    padding-top var(--spacing-xl)

  @media (min-width var(--breakpoint-m))
    right 5.00rem

  @media (min-width var(--breakpoint-l))
    right 7.19rem


.hero-teaser__overlay-heading
  display block
  font-weight var(--font-weight-semi-bold)
  font-size var(--font-h6)
  line-height 1.50rem
  letter-spacing 0.03rem
  padding var(--spacing-xs) 0 var(--spacing-xs)
  margin-bottom var(--spacing-s)

  @media (min-width var(--breakpoint-xs))
    margin-bottom var(--spacing-s)

  @media (min-width var(--breakpoint-s))
    font-size var(--font-h4)
    line-height 2.25rem
    letter-spacing 0.04rem
    margin-bottom var(--spacing-m)

.hero-teaser__overlay-text
  font-weight var(--font-weight-regular)
  font-size var(--font-small)
  line-height 1.13rem
  padding var(--spacing-xs) 0 var(--spacing-xs)

  @media (min-width var(--breakpoint-s))
    font-size var(--font-h6)
    line-height 1.50rem

.hero-teaser__button
  position absolute
  top -3.88rem
  right 0.94rem

  @media (min-width var(--breakpoint-xs))
    position relative
    top 0
    right 0
    margin-top var(--spacing-xl)

  @media (min-width var(--breakpoint-s))
    align-self flex-end

  @media (min-width var(--breakpoint-m))
    margin-top var(--spacing-xl)
