$breakpoint-small = 550px
$breakpoint-medium = 950px
$breakpoint-large = 1100px
$breakpoint-huge = 1250px

.hero-teaser
  color var(--neutral-10)
  padding 1.2rem 0

  @media (min-width $breakpoint-small)
    padding 1.2rem 1.5rem

  @media (min-width $breakpoint-medium)
    padding 1.2rem 2rem

.hero-teaser__container

  @media (min-width $breakpoint-small)
    display flex

  @media (min-width $breakpoint-medium)
    display block
    position relative

.hero-teaser__image-wrapper
  position relative

.hero-teaser__image
  display flex
  height 50rem

  @media (min-width $breakpoint-medium)
    height 62rem

  @media (min-width $breakpoint-large)
    height 90rem

  img
    width 100%
    object-fit cover

.hero-teaser__title-wrapper
  position absolute
  top 3.4rem
  left 1.5rem
  right 1.5rem
  bottom 2.6rem
  display flex
  flex-direction column

  @media (min-width $breakpoint-medium)
    top 9rem
    left 7.5rem
    right auto
    bottom auto
    max-width calc(100% - 7.5rem - 29rem) // 7.5rem from the left + 29rem width of overlay

  @media (min-width $breakpoint-large)
    max-width calc(100% - 7.5rem - 29rem - 8rem) // additional 8rem for the right positioning of overlay

  @media (min-width $breakpoint-huge)
    max-width 80rem

.hero-teaser__title--text
  font-size 3rem
  font-weight var(--font-weight-semi-bold)
  line-height 3.6rem
  letter-spacing 0.05rem

  @media (min-width $breakpoint-medium)
    font-size 4.2rem
    line-height 4.8rem
    letter-spacing 0.109rem

.hero-teaser__title--pre
.hero-teaser__title--sub
  font-size 1.4rem
  line-height 1.8rem

  @media (min-width $breakpoint-medium)
    font-size 1.8rem
    line-height 2.4rem

.hero-teaser__title--pre
  margin-bottom 0.5rem

  @media (min-width $breakpoint-medium)
    margin-bottom 1.6rem

.hero-teaser__title--sub
  margin-top auto

  @media (min-width $breakpoint-medium)
    margin-top 2.6rem

.hero-teaser__overlay
  background var(--neutral-80)
  padding 1rem 1.5rem 2rem
  position relative

  @media (min-width $breakpoint-small)
    display flex
    flex-direction column
    align-items flex-start
    flex 0 0 22rem
    padding 4.8rem 2rem 2rem

  @media (min-width $breakpoint-medium)
    background var(--hero-teaser-overlay-background-opaque)
    width 29rem
    position absolute
    top 0
    right 0
    bottom 0
    padding-top 8.2rem

  @media (min-width $breakpoint-large)
    right 8rem

  @media (min-width $breakpoint-huge)
    right 11.5rem


.hero-teaser__overlay-heading
  display block
  font-weight var(--font-weight-semi-bold)
  font-size 2.1rem
  line-height 2.4rem
  letter-spacing 0.054rem
  padding 0.5rem 0 0.1rem
  margin-bottom 1.1rem

  @media (min-width $breakpoint-small)
    margin-bottom 1.2rem

  @media (min-width $breakpoint-medium)
    font-size 2.7rem
    line-height 3.6rem
    letter-spacing 0.07rem
    margin-bottom 1.5rem

.hero-teaser__overlay-text
  font-weight var(--font-weight-regular)
  font-size 1.4rem
  line-height 1.8rem
  padding 0.5rem 0 0.1rem

  @media (min-width $breakpoint-medium)
    font-size 1.8rem
    line-height 2.4rem

.hero-teaser__button
  position absolute
  top -6.2rem
  right 1.5rem

  @media (min-width $breakpoint-small)
    position relative
    top 0
    right 0
    margin-top 3.5rem

  @media (min-width $breakpoint-medium)
    align-self flex-end

  @media (min-width $breakpoint-large)
    margin-top 4.7rem
