$breakpoint-small = 550px
$breakpoint-medium = 600px
$breakpoint-large = 1024px
$breakpoint-huge = 1400px

.video-teaser
  display block
  position relative
  color var(--neutral-00)
  margin 1.2rem 0

  @media (min-width $breakpoint-huge)
    padding 0 2rem

.video-teaser__video
  display block
  width 100%
  @media (min-width $breakpoint-large)
    width 100%
    height auto
  video
    height 100%

.video-teaser__sub-heading
  text-transform uppercase
  font-size 1rem
  line-height 1.3rem
  letter-spacing 0.3rem
  @media (min-width $breakpoint-large)
    font-size 1.5rem

.video-teaser__heading
  margin-bottom 3rem
  .heading
    color #EE3F28
    text-transform uppercase
    font-size 2.6rem
    line-height 3.3rem
    letter-spacing 0.118rem
    max-width 21.2rem
    margin 2rem 0
    @media (min-width $breakpoint-large)
      font-size 4rem
      line-height 5rem
      margin-top 2rem
      max-width 32.5rem

.video-teaser__content
  background-color #152429
  padding 3rem 1.5rem
  position relative
  @media (min-width $breakpoint-large)
    position absolute
    top 0
    right 2rem
    width 26.7rem
    height 100%
    opacity 0.85
  @media (min-width $breakpoint-huge)
    right 5.5rem
    padding 13.5rem 2rem 2rem 2.7rem

  .heading
    @media (min-width $breakpoint-large)
      font-size 2.3rem
      line-height 2.5rem

  .copytext
    font-size 1.3rem
    line-height 2rem
    @media (min-width $breakpoint-large)
      font-size 1.5rem
      line-height 2.5rem

.video-teaser__buy-box
  display flex
  align-items center
  justify-content space-between
  margin 2rem 0
  width 100%
  text-transform uppercase
  @media (min-width $breakpoint-medium)
    position relative
    top 0
    padding 0
    margin-top 3.5rem

.video-teaser__hint
  text-transform uppercase

.video-teaser__play-wrapper
  position absolute
  bottom 2rem
  right 2rem
  @media (min-width $breakpoint-large)
    right 30.7rem
  @media (min-width $breakpoint-huge)
    right 33rem

.video-teaser__play-button
  color #484f51
  width 4.5rem
  height 4.5rem
  &:hover
    cursor pointer
    color #adb5bd
  @media (min-width $breakpoint-large)
    width 3rem
    height 3rem

.video-teaser-player
  position relative
