.cart-box__no-products
  font-weight normal
  text-align center
  padding-top 2rem

.cart-box__title
  width 100%
  text-align center
  border-bottom 1px solid var(--neutral-40)
  padding-bottom 1rem

.cart-box__button
  width 100%

.cart-box__products
  .cart-box__product-item
    display flex
    justify-content space-between
    padding 1rem
    align-items center

    .button
      margin 0
      height 3.6rem

    .cart-box__product-item__image
      display flex
      flex-direction row
      height 5rem

      picture
        height 100%
        width 5rem
        text-align center
        margin-right 2rem

        img
          height 100%

      .text
        display flex
        flex-direction column