.cart-box__no-products
  font-weight normal
  text-align center
  padding-top 2rem

.cart-box__title
  width 100%
  text-align center
  border-bottom 1px solid var(--neutral-40)
  padding-bottom 1rem

.cart-box__button
  width 100%
