var(--breakpoint-xs) = 25.00rem
var(--breakpoint-s) = 40.63rem
var(--breakpoint-m) = 62.50rem
var(--breakpoint-l) = 71.88rem

.product-list
  padding 0 var(--spacing-m)
  margin-top var(--spacing-l)

  @media (min-width var(--breakpoint-m))
    padding 0 var(--spacing-m)

.product-list__actions
  display flex
  margin-bottom var(--spacing-m)

.product-list__wrapper
  display flex
  align-items flex-start

.product-list__list
  display grid
  grid-template-columns 1fr
  grid-gap var(--spacing-l) 0
  width 100%
  transition opacity 100ms ease-in

  &--loading
    opacity 0.2

  @media (min-width var(--breakpoint-xs))
    // see https://stackoverflow.com/a/52861514
    grid-template-columns repeat(2, minmax(0,1fr))

  @media (min-width var(--breakpoint-s))
    grid-template-columns repeat(3, minmax(0,1fr))

  @media (min-width var(--breakpoint-l))
    grid-template-columns repeat(4, minmax(0,1fr))

.product-item
  border-top 0.06rem solid var(--neutral-40)
  padding var(--spacing-l) var(--spacing-s) 0 // top = var(--spacing-l) - var(--spacing-xs) border
  &--highlight
    position relative

.product-item__image
  display flex
  justify-content center

  img
    max-width 100%
    max-height 14.25rem

.product-item__title
  text-align center

.product-item__manufacturer
  display block
  line-height 0.75rem
  letter-spacing 0.19rem
  color var(--neutral-50)
  text-transform uppercase
  text-align center
  margin var(--spacing-xs) 0

.product-item__shortdesc
  max-height 3.75rem // 3 lines = 3 * 1.13rem (line-height) + 0.37rem (padding-top)
  overflow hidden
  text-align center
  // Be careful not to override padding-top/bottom from <Copytext>
  padding-left var(--spacing-m)
  padding-right var(--spacing-m)

.product-item__prices
  text-align center
  padding var(--spacing-xs) 0 var(--spacing-xs)
  margin-top var(--spacing-xs)

.product-item__price
  font-size var(--font-regular)
  font-weight var(--font-weight-semi-bold)
  line-height 1.50rem
  letter-spacing 0.02rem

.product-item__actions
  margin-top var(--spacing-s)
  text-align center

.product-list__filter-button
  @media (min-width var(--breakpoint-m))
    display none

  &--active
    .button__text
      margin-right var(--spacing-xs)

.product-item__swatches
  margin-top var(--spacing-s)
  display flex
  justify-content center

.product-item__swatch
  height 1.56rem
  width 1.56rem
  border-radius var(--border-radius-full)
  position relative

  &:hover
    cursor pointer

  & + &
    margin-left var(--spacing-s)

  span
    visibility hidden

  &:before
    display block
    content ''
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    border-radius var(--border-radius-full)
    height 100%
    width 100%
    transition all 200ms ease-in-out

  &--active:before
    border 0.06rem solid var(--neutral-80)
    height calc(100% + 0.38rem)
    width calc(100% + 0.38rem)

  &--black
    background var(--color-info-content)

  &--blue
    background var(--color-primary-main)

  &--green
    background var(--color-primary-main)

  &--red
    background var(--color-danger-main)

  &--grey
    background var(--color-primary-main)

  &--white
    background var(--color-base-darker)
    border 0.06rem solid var(--neutral-80)

  &--purple
    background var(--color-primary-main)

  &--orange
    background var(--color-danger-main)

  &--brown
    background var(--color-base-darkest)

  &--olive
    background var(--color-neutral-content)

  &--silver
    background var(--color-neutral-content)

  &--yellow
    background var(--color-warning-main)

  &--pink
    background var(--color-neutral-content)

  &--navy-blue
    background var(--color-base-darkest)

  &--maroon
    background var(--color-base-darkest)

  &--charcoal
    background var(--color-primary-main)

  &--gold
    background var(--color-danger-main)

  &--beige
    background var(--color-neutral-content)

  &--fluorescent-green
    background var(--color-success-main)

  &--peach
    background var(--color-danger-main)

  &--teal
    background var(--color-success-main)

  &--lavender
    background var(--color-primary-main)

  &--sea-green
    background var(--color-success-main)

  &--turquoise-blu
    background var(--color-info-main)

  &--rust
    background var(--color-primary-main)

.product-list__filter-reset-button
  display none

  @media (min-width var(--breakpoint-m))
    display inline-flex

  .icon
    flex-basis 1.25rem

.product-list__active-filter-hint
  background var(--secondary)
  color var(--neutral-00)
  border-radius var(--border-radius-big)
  font-size var(--font-extrasmall)
  font-weight var(--font-weight-semi-bold)
  line-height 0.94rem
  letter-spacing 0.01rem
  padding var(--spacing-xs) var(--spacing-s)
  position relative
  top -0.06rem
  left 0.25rem

.product-list__sorter
  margin-left auto

  .dropdown__listbox
    min-width 12.50rem

.product-list__pagination
  grid-column 1 / -1 // always span all available columns
  display flex
  align-items center
  width 100%
  margin-top var(--spacing-l)

  .button + .button
    margin-left var(--spacing-xs)

.product-list__pagination-text
  margin 0 auto

.product-list__banner
  picture
    display flex
    height 100%

  img
    width 100%
    height 100% // Safari-Fix
    object-fit cover

.ribbon
    position absolute
    right -0.31rem
    top -0.31rem
    z-index 1
    overflow hidden
    width 4.69rem
    height 4.69rem
    text-align right
    span
        font-size var(--font-extrasmall)
        color var(--color-base-main)
        text-transform uppercase
        text-align center
        font-weight bold
        line-height 1.25rem
        transform rotate(45deg)
        -webkit-transform rotate(45deg)
        width 6.25rem
        display block
        background var(--color-primary-main)
        background linear-gradient(var(--color-warning-main) 0%, var(--color-primary-main) 100%)
        box-shadow 0 0.19rem 0.63rem -0.31rem rgba(0, 0, 0, 1)
        position absolute
        top 1.19rem
        right -1.31rem
        &::before
            content ''
            position absolute
            left 0
            top 100%
            z-index -1
            border-left 0.19rem solid var(--color-primary-main)
            border-right 0.19rem solid transparent
            border-bottom 0.19rem solid transparent
            border-top 0.19rem solid var(--color-primary-main)
        &::after
            content ''
            position absolute
            right 0%
            top 100%
            z-index -1
            border-right 0.19rem solid var(--color-primary-main)
            border-left 0.19rem solid transparent
            border-bottom 0.19rem solid transparent
            border-top 0.19rem solid var(--color-primary-main)
