.promotion
  padding var(--spacing-s) var(--spacing-m)

  @media (min-width var(--breakpoint-l))
    padding var(--spacing-s) var(--spacing-m)

.promotion__container
  background var(--neutral-90)
  padding var(--spacing-xl) var(--spacing-m) var(--spacing-xl)

  @media (min-width var(--breakpoint-s))
    display flex
    justify-content center

.promotion__title-wrapper
.promotion__content-wrapper
  max-width 21.75rem
  margin 0 auto
  text-align center

  @media (min-width var(--breakpoint-xs))
    max-width 34.38rem

  @media (min-width var(--breakpoint-s))
    flex 1
    max-width none
    margin 0

.promotion__title-wrapper
  @media (min-width var(--breakpoint-s))
    max-width 20.31rem
    padding-top var(--spacing-l)

.promotion__content-wrapper

  @media (min-width var(--breakpoint-s))
    max-width 27.50rem
    text-align left
    margin-left var(--spacing-xl)
    padding var(--spacing-m) 0 var(--spacing-m) var(--spacing-xl)
    border-left 0.06rem solid var(--neutral-20)

  @media (min-width var(--breakpoint-l))
    max-width 31.88rem
    margin-left var(--spacing-xl)
    padding var(--spacing-m) 0 var(--spacing-m) var(--spacing-xl)


.promotion__pre-title
  display block
  color var(--neutral-50)
  font-size var(--font-small)
  font-weight var(--font-weight-semi-bold)
  letter-spacing 0.06rem
  line-height 0.75rem
  margin-bottom var(--spacing-m)

  @media (min-width var(--breakpoint-xs))
    margin-bottom var(--spacing-l)

.promotion__title
  display block
  color var(--secondary)
  text-align center
  margin-bottom var(--spacing-m)

  @media (min-width var(--breakpoint-xs))
    font-h4()

  @media (min-width var(--breakpoint-s))
    margin-bottom 0

.promotion__text
  color var(--neutral-10)

.promotion__button
  margin-top var(--spacing-m)

  @media (min-width var(--breakpoint-xs))
    margin-top var(--spacing-m)

  @media (min-width var(--breakpoint-l))
    margin-top var(--spacing-l)

.promotion--inverted
  .promotion__container
    background var(--neutral-20)

  .promotion__text
    color var(--primary)

  .promotion__content-wrapper
    border-color var(--primary)

