@font-face
  font-display fallback
  font-family 'Merriweather'
  font-weight 400
  src url(/static/fonts/MerriweatherSans-Regular.ttf) format('truetype')

@font-face
  font-display fallback
  font-family 'Merriweather'
  font-weight 700
  src url(/static/fonts/MerriweatherSans-Bold.ttf) format('truetype')

@font-face
  font-display fallback
  font-family 'Merriweather'
  font-weight 800
  src url(/static/fonts/MerriweatherSans-ExtraBold.ttf) format('truetype')

