@font-face
  font-display fallback
  font-family 'MerriweatherSans-Regular'
  src url(/static/fonts/MerriweatherSans-Regular.ttf) format('truetype')

@font-face
  font-display fallback
  font-family 'MerriweatherSans-Bold'
  src url(/static/fonts/MerriweatherSans-Bold.ttf) format('truetype')

@font-face
  font-display fallback
  font-family 'MerriweatherSans-ExtraBold'
  src url(/static/fonts/MerriweatherSans-ExtraBold.ttf) format('truetype')

