@font-face
  font-display fallback
  font-family DINNext
  font-weight 700
  src url('/assets/fonts/Linotype-DINNextLTPro-Bold.woff2') format('woff2'), url('/assets/fonts/Linotype-DINNextLTPro-Bold.woff') format('woff'), url('/assets/fonts/Linotype-DINNextLTPro-Bold.ttf') format('truetype')

@font-face
  font-display fallback
  font-family DINNext
  font-weight 700
  src url('/assets/fonts/Linotype-DINNextLTPro-BoldItalic.woff2') format('woff2'), url('/assets/fonts/Linotype-DINNextLTPro-BoldItalic.woff') format('woff'), url('/assets/fonts/Linotype-DINNextLTPro-BoldItalic.ttf') format('truetype')
  font-style italic

@font-face
  font-display fallback
  font-family DINNext
  font-weight 400
  src url('/assets/fonts/Linotype-DINNextLTPro-Regular.woff2') format('woff2'), url('/assets/fonts/Linotype-DINNextLTPro-Regular.woff') format('woff'), url('/assets/fonts/Linotype-DINNextLTPro-Regular.ttf') format('truetype')

@font-face
  font-display fallback
  font-family DINNext
  font-weight 400
  src url('/assets/fonts/Linotype-DINNextLTPro-RegularItalic.woff2') format('woff2'), url('/assets/fonts/Linotype-DINNextLTPro-RegularItalic.woff') format('woff'), url('/assets/fonts/Linotype-DINNextLTPro-RegularItalic.ttf') format('truetype')
  font-style italic

