html
  font-smooth always
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.site-wrapper
  max-width 1024px
  margin 0 auto
  font-family var(--font-family-regular)
  font-size var(--font-size-base)
