html
  font-smooth always
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.body--no-overflow
  overflow hidden

.site-wrapper
  background var(--neutral-00)
  max-width 140rem // 1400px
  margin 0 auto
  color var(--neutral-90) // default text color
  font-family var(--font-family-regular)
  font-size var(--font-size-base)
  position relative

a
  text-decoration inherit
  color currentColor
