// generate font-face declartions
fonts = json('../../config/fonts.json', { hash: true })

for font in fonts
  family = fonts[font]["family"]
  weight = fonts[font]["weight"]
  fileName = fonts[font]["fileName"]
  isItalic = fonts[font]["isItalic"]

  @font-face
    font-display fallback
    font-family family
    font-weight weight
    src url('/assets/fonts/' + fileName + '.ttf') format('truetype')
    if isItalic
      font-style italic


// define Custom Properties for fonts
:root
  --font-family-regular 'FiraSans'
  --font-family-highlight 'Domine'

  --font-size-base 1.3rem

  --font-weight-regular 400
  --font-weight-medium 500
  --font-weight-semi-bold 600
  --font-weight-bold 700


// define Custom Properties for colors
colors = json('../../config/colors.json', { hash: true })

:root
  for color in colors
    name = colors[color]["variableName"]
    value = colors[color]["value"]

    {name} value


// define Custom Properties for z-indices
:root
  --z-index-lowest 1
  --z-index-low 10
  --z-index-medium 50
  --z-index-overlay 60
  --z-index-high 70
  --z-index-highest 100
