// define Custom Properties for fonts
:root
  --font-family-regular 'FuturaBT'
  --font-size-base 1.3rem
  --font-weight-light 300
  --font-weight-regular 500
  --font-weight-medium 700
  --font-weight-bold 900

// define Custom Properties for spacers
:root
  --spacer-xxxs 4px
  --spacer-xxs 8px
  --spacer-xs 12px
  --spacer-s 16px
  --spacer-m 20px
  --spacer-l 24px
  --spacer-xl 32px
  --spacer-xxl 40px
  --spacer-xxxl 48px
  --spacer-xxxxl 64px
  --spacer-xxxxxl 80px
  --spacer-xxxxxxl 96px

// define Custom Properties for z-indices
:root
  --z-index-lowest 1
  --z-index-low 10
  --z-index-medium 50
  --z-index-overlay 60
  --z-index-high 70
  --z-index-highest 100

// define Custom Properties for elevations
:root
  --elevation-l 0 3px 8px -1px rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.05)

:root
  --radial-gradient radial-gradient(circle at 60% bottom, #009fe3, #006894, #001017)
  --max-width 1500px
  --max-width-sub-component 880px