.wishlist-box__no-products
  font-weight normal
  text-align center
  padding-top var(--spacing-m)

.wishlist-box__title
  width 100%
  text-align center
  border-bottom 0.06rem solid var(--neutral-40)
  padding-bottom var(--spacing-s)

.wishlist-box__button
  width 100%

.wishlist-box__products
  .wishlist-box__product-item
    display flex
    justify-content space-between
    padding var(--spacing-s)
    align-items center

    .button
      margin 0
      height 2.25rem

    .wishlist-box__product-item__image
      display flex
      flex-direction row
      height 3.13rem

      picture
        height 100%
        width 3.13rem
        text-align center
        margin-right var(--spacing-m)

        img
          height 100%

      .text
        display flex
        justify-content center
        flex-direction column
