.heading
  &--200
    font-weight var(--font-weight-semi-bold)
    font-size 2.5rem
    line-height 3rem
    padding 0.1rem 0 0.5rem

  &--175
    font-weight var(--font-weight-regular)
    font-size 2.1rem
    line-height 2.4rem
    padding 0.5rem 0 0.1rem

  &--150
    font-weight var(--font-weight-medium)
    font-size 2.1rem
    line-height 3rem
    padding 0.2rem 0 0.4rem

  &--125
    font-weight var(--font-weight-semi-bold)
    font-size 1.7rem
    line-height 2.4rem
    letter-spacing 0.025rem
    padding 0.1rem 0 0.5rem

  &--110
    font-weight var(--font-weight-semi-bold)
    font-size 2.1rem
    line-height 2.4rem
    letter-spacing 0.054rem
    padding 0.5rem 0 0.1rem

    // TODO: Evaluate if this is the most fitting breakpoint
    @media (min-width 550px)
      font-size 2.7rem
      line-height 3rem
      letter-spacing 0.07rem
      padding 0

  &--100
    font-weight var(--font-weight-medium)
    font-size 1.4rem
    line-height 1.8rem
    letter-spacing 0.02rem
    padding 0.5rem 0 0.1rem
