.autosuggest__products
  border 1px solid red

.autosuggest__image
  display flex
  flex-direction row
  height 7rem

  picture
    height 100%
    width 5rem
    text-align right

    img
      height 100%
  .text
    flex 1
    align-self center
    padding-left 2rem
