.autosuggest__image
  display flex
  flex-direction row
  height 3.13rem

  picture
    height 100%
    width 3.13rem
    text-align center

    img
      height 100%
  .text
    flex 1
    align-self center
    padding-left var(--spacing-m)

.autosuggest-box
  position absolute
  right 0
  max-width 50.00rem
  margin-left auto
  box-shadow inset 0 -0.06rem 0 0 var(--color-neutral-content), 0 0.13rem 1.00rem -0.63rem rgba(0,0,0,0.5)
  border 0.06rem solid var(--neutral-40)
  padding var(--spacing-xl) var(--spacing-m)
  z-index var(--z-index-highest)
  background-color var(--neutral-00)
  max-height calc(100vh - 3.75rem)
  overflow-y auto

.autosuggest-box__wrapper
  display flex
  flex-direction column
  background var(--neutral-00)

  @media (min-width var(--breakpoint-s))
    flex-direction row
    padding var(--spacing-xl) var(--spacing-m)

  .autosuggest-box__close
    flex none
    position absolute
    top 0
    right 1.25rem

.autosuggest-box__links
    flex 1

.autosuggest-box__products
.autosuggest-box__link-box
  margin-bottom var(--spacing-m)

.autosuggest-box__products
  flex 1

  .heading
    @media (min-width var(--breakpoint-s))
      padding-left var(--spacing-m)

.autosuggest__product-item
  padding var(--spacing-s)

.autosuggest__link-item
  margin-bottom var(--spacing-xs)

.autosuggest-box__total-result
  cursor pointer
  display flex
  align-items center
  padding-top var(--spacing-m)
  border-top 0.06rem solid var(--neutral-40)

  .icon--chevron-right
    width 0.63rem
    display inline-block
    height 0.75rem
    margin-left var(--spacing-xs)
