@import './autosuggestion.styl'
@import './FlyoutBox/flyoutBox.styl'
@import './User/loginBox.styl'
@import './Wishlist/wishlistBox.styl'
@import './Cart/cartBox.styl'

.header
  display flex
  align-items center
  width calc(100% - 1.88rem) // 0.94rem "padding" on each side
  margin 0 auto
  padding var(--spacing-xs) 0 var(--spacing-s)
  border-bottom 0.06rem solid var(--neutral-40)

  @media (min-width var(--breakpoint-s))
    padding-bottom var(--spacing-xs)

  @media (min-width var(--breakpoint-m))
    padding var(--spacing-xs) 0 var(--spacing-xs) var(--spacing-m)


.header__menu-button
  margin-right var(--spacing-s)

  @media (min-width var(--breakpoint-m))
    display none

.header__logo
  max-height 2.50rem

  @media (min-width var(--breakpoint-s))
    max-height 3.75rem

.header__actions
  position relative

  &--mobile
    @media (min-width var(--breakpoint-m))
      display none

  &--desktop
    display none

    @media (min-width var(--breakpoint-m))
      display block

.header__action

  &
    margin-left var(--spacing-xs)

  &--search
    margin-right var(--spacing-xs)

    @media (min-width var(--breakpoint-xs))
      display none

.header__basket-bubble
  background var(--brand-2)
  border-radius var(--border-radius-big)
  color var(--neutral-00)
  padding 0 var(--spacing-s)
  position relative
  left -0.37rem // half of the 0.75rem margin

.header__search
  display none

  @media (min-width var(--breakpoint-xs))
    display block
    flex 1
    max-width 14.69rem
    margin 0 auto
    position relative

  @media (min-width var(--breakpoint-s))
    margin 0 var(--spacing-m) 0 auto

  @media (min-width var(--breakpoint-m))
    max-width 18.13rem
    margin 0 var(--spacing-xl) 0 auto

  .icon
    height 1.13rem
    width 2.25rem
    color var(--neutral-50)
    position absolute
    left 0
    top 50%
    transform translateY(-50%)


.header__search-input
  width 100%
  padding-left var(--spacing-xl)

  // TODO: Refactor styles into generic <Input> component
  height 2.25rem
  font-size var(--font-small)
  line-height 1.13rem
  color var(--neutral-90)
  background var(--neutral-00)
  border 0.06rem solid var(--primary)
  border-radius var(--border-radius-small)
  margin var(--spacing-xs) 0 var(--spacing-xs)

.header__outer-container
  margin-left auto

  @media (min-width var(--breakpoint-xs))
    flex 1

.header__inner-container
  display flex
  align-items center

.header__info-links
  display none

  @media (min-width var(--breakpoint-m))
    display flex
    justify-content flex-end
    padding var(--spacing-xs) 0 var(--spacing-xs)

.header__info-link, .header__info-links .language-switch button
  font-m()
  color var(--neutral-50)
  text-decoration none

  & + &
    margin-left var(--spacing-s)

.header__info-link
  &:hover
    text-decoration underline


.header__info-links .language-switch
  button
    margin 0 0 0 var(--spacing-s)
    padding var(--spacing-xs) var(--spacing-s)

    .icon
        height 0.63rem
        width 1.13rem
