$breakpoint-small = 700px
$breakpoint-medium = 1000px

.error-page
  font-family var(--font-family-regular)
  margin 10vh auto
  padding 15px
  max-width 760px

  h1
    margin-bottom 0.25em

  h2
    margin 1.5em auto 0.5em

  .error-page-description
    margin 1.5em auto 0.5em

  ul.error-page-costumer-solutions
    line-height 1.2
    margin-bottom 0.5em
    list-style-position inside

    li
      list-style-type disc
      margin-left 1.5em
      padding-left 0.5em
      margin-bottom 0.5em

      a:hover
        text-decoration underline

code.error-page__further-info
  display block
  padding 0.75em 1.25em
  background-color #f8f8f8
  border-radius 8px

  > span
    display block
    font-weight var(--font-weight-medium)
    font-size 1.4rem
    line-height 1.8rem
    letter-spacing 0.02rem
    margin-bottom 1.5rem

  p
    font-size 1.3rem
    line-height 1.8rem

  ul
    margin-top 2rem
    font-family 'courier'
    font-size 1.3rem
    line-height 1.8rem

    li
      display flex
      flex-direction column

      @media (min-width $breakpoint-small)
        flex-direction row

    li + li
      margin-top 0.5rem

    span:first-of-type
      font-weight bold

      @media (min-width $breakpoint-small)
        flex 0 0 9.5rem