$breakpoint-tiny = 370px
$breakpoint-small = 475px

.mobile-filter
.mobile-filter__list
  height 100%
  width 100%
  background var(--neutral-00)
  position fixed
  top 0
  left 0
  z-index var(--z-index-high)
  overflow-y auto

.mobile-filter
  font-size 1.6rem
  font-weight var(--font-weight-medium)
  line-height 1.8rem
  letter-spacing 0.023rem
  color var(--neutral-90)
  transform translateX(-110%) // 110% instead of 100% because of the box-shadow
  transition transform 400ms cubic-bezier(0, 1.02, 0.48, 0.92)

  @media (min-width $breakpoint-small)
    max-width 40rem
    box-shadow 5px 1px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)

  &--visible
    transform translateX(0)

.mobile-filter__section
  background var(--neutral-00)

  & + &
    border-top 1px solid var(--neutral-20)

  &:last-of-type
    border-bottom 1px solid var(--neutral-20)

.mobile-filter__button
  display flex
  align-items center
  width 100%
  height 3.8rem
  padding 0 1.5rem
  text-align left

.mobile-filter__active-filters
  font-size 1.4rem
  font-weight var(--font-weight-regular)
  color var(--neutral-50)
  margin-left auto
  max-width 12rem
  text-overflow ellipsis
  text-align right
  overflow hidden
  white-space nowrap

  @media (min-width $breakpoint-tiny)
    max-width 15rem

.mobile-filter__button-chevron
  height 1.4rem
  width 3.6rem
  flex-shrink 0
  margin-left auto

  .mobile-filter__active-filters + &
    margin-left 0


.mobile-filter__header
.mobile-filter__list-header
  display flex
  align-items center
  height 4rem
  position sticky
  top 0
  padding 1.2rem 1.5rem 1.2rem

  button
    color var(--secondary)

.mobile-filter__list-header

  span
    margin-right 1rem
    padding-right 1rem
    border-right 1px solid var(--neutral-40)

.mobile-filter__footer
.mobile-filter__list-footer
  height 6rem
  background var(--primary)
  position fixed
  left 0
  right 0
  bottom 0

  button
    display block
    height 100%
    width 100%
    color var(--neutral-10)

.mobile-filter__list-values
  padding-bottom 6rem // height of list-footer

.mobile-filter__item
  display flex
  align-items center
  font-size 1.4rem
  letter-spacing 0.02rem
  background var(--neutral-00)

  & + &
    border-top 1px solid var(--neutral-20)

  &:last-of-type
    border-bottom 1px solid var(--neutral-20)

  &--active
    color var(--secondary)

  label
    display block
    align-items center
    width 100%
    height 3.8rem
    line-height 3.8rem
    padding 0 1.5rem

  .icon
    height 1.4rem
    width 3.6rem

  input
    display none

.mobile-filter__range-filter
  background var(--neutral-00)
  padding 3rem 2rem

.mobile-filter__range-filter-label
  display block
  text-align center
  margin-bottom 2rem
