// $breakpoint_small = 320px
// $breakpoint_medium = 600px
// $breakpoint_large = 1366px

// .content-element
//   @media (min-width $breakpoint_small)
//     margin-bottom  var(--spacer-xxl)

//   @media (min-width $breakpoint_medium)
//     margin-bottom var(--spacer-xxxxl)
    
//   @media (min-width $breakpoint_large)
//     margin-bottom var(--spacer-xxxxxl)
