$container-min-height = 40vh
$height-value-separator = 16px

.product-finder 
  display flex
  flex-direction column
  align-items stretch
  gap 48px

  &__title 
    text-align center
  

  &__question-container 
    display flex
    justify-content center
    align-items flex-start
    flex-wrap wrap
    column-gap 16px
    row-gap 8px
    min-height $container-min-height

    &__choice 
      min-width 48px
      min-height 16px
      aphrodite()
      cursor pointer
      color var(--neutral-80)
      border-radius 4px
      border 1px solid var(--neutral-30)

      &:has(input:checked) 
        border-color var(--secondary)
        color var(--secondary)
      

      &:hover, &:has(input:checked):hover 
        border-color var(--neutral-60)
        color var(--neutral-60)
      

      &.text-choice 
        padding 4px 16px
      

      &.img-choice 
        width 100%
        max-width 200px
        padding 0
        overflow hidden
        display flex
        flex-direction column
        align-items center
        row-gap 4px
        padding-bottom 4px

        .image 
          display block
          width 100%
          aspect-ratio 1
          overflow hidden

          img 
            width 100%
            aspect-ratio 1
            object-fit cover
            transition transform 200ms ease
          
        

        &:hover > .image > img 
          transform scale(1.05)
        
      

      & > input[type='radio'], & > input[type='checkbox'] 
        display none
      
    

    &__stepper 
      display flex
      position relative
      min-height $container-min-height
      width 90%
      align-self center
      flex-direction column
      row-gap 8px

      &__input 
        --input-height 8px
        width 100%
        height var(--input-height)
        background-color var(--neutral-20)
        padding 0
        margin 0
        -webkit-appearance none
        -moz-appearance initial
        appearance none

        &::-webkit-slider-thumb 
          --dot-size calc(var(--input-height) * 2)
          -webkit-appearance none
          -moz-appearance initial
          appearance none
          background-color var(--secondary)
          width var(--dot-size)
          height var(--dot-size)
          border-radius 50%
          cursor pointer
          position relative
          z-index 2
        

        &::-moz-range-thumb 
          border none
          background-color var(--secondary)
        

        &:before, &::before 
          content ''
          position absolute
          z-index 1
          top 0
          left 0
          background-color var(--secondary)
          height var(--input-height)
          width var(--thumb-position)
        
      

      &__tooltip 
        position absolute
        transform translateY(calc(-100% - 12px))
        background-color var(--neutral-90)
        color var(--neutral-00)
        left var(--tooltip-left)
        padding 4px 12px
        border-radius 4px

        &:after 
          content ''
          position absolute
          border-style solid
          border-width 4px
          border-color var(--neutral-90) transparent transparent transparent
          left 50%
          transform translateX(-50%)
          top 100%
        
      

      &__values-container 
        display flex
        justify-content space-between

        &__value 
          position relative
          padding-top $height-value-separator + 4px
          color var(--neutral-60)
          width 48px
          text-align center

          &:first-child 
            transform translateX(calc(-50% - (2px / 2)))
          

          &:last-child 
            transform translateX(calc(50% - (2px / 2)))
          

          &:after 
            content ''
            height $height-value-separator
            width 2px
            position absolute
            top 0
            left calc(50% - 2px / 2)
            background-color currentColor
          
        
      
    
  

  &__skip-container 
    align-self center
  

  &__buttons 
    display flex
    justify-content space-between

    button:disabled 
      cursor not-allowed
    
  

