teaserLeft()
  .product-teaser__teaser-image
    margin-left -var(--spacing-m)

    @media (min-width var(--breakpoint-xs))
      margin-left 0

teaserRight()
  .product-teaser__content
    order -1
    align-items flex-end
    text-align right

    @media (min-width var(--breakpoint-s))
      order 0
      align-items flex-start
      text-align left

  .product-teaser__teaser-image
    margin-right -var(--spacing-m)

    @media (min-width var(--breakpoint-xs))
      margin-right 0


.product-teaser
  padding var(--spacing-s) var(--spacing-m)

  @media (min-width var(--breakpoint-s))
    display grid
    grid-template-columns 1fr 1fr
    grid-gap var(--spacing-xl) var(--spacing-m)

  @media (min-width var(--breakpoint-m))
    grid-template-columns 1fr 1fr 1fr
    padding var(--spacing-s) var(--spacing-m)

.product-teaser__teaser
  display flex
  height 23.25rem
  overflow hidden

  @media (min-width var(--breakpoint-xs))
    justify-content center
    padding var(--spacing-s)

  & + &
    margin-top var(--spacing-xl)

    @media (min-width var(--breakpoint-s))
      margin-top 0

.product-teaser__teaser-image
  height 18.06rem
  align-self center

  img
    display block
    height 100%

.product-teaser__content
  display flex
  flex-direction column
  align-items flex-start
  padding var(--spacing-xl) var(--spacing-s) var(--spacing-xl)

  @media (min-width var(--breakpoint-xs))
    max-width 16.25rem
    padding-left var(--spacing-m)
    padding-right var(--spacing-m)

.product-teaser__pre-title
  display block
  margin-bottom var(--spacing-l)
  letter-spacing 0.06rem

.product-teaser__title
  @media (min-width var(--breakpoint-xs))
    font-h5()

.product-teaser__button
  margin-top auto

.product-teaser--white

  .product-teaser__teaser
    border 0.06rem solid var(--tertiary)

  .product-teaser__pre-title
    color var(--neutral-50)

.product-teaser--colorized

  .product-teaser__teaser
    border-radius var(--border-radius-small)

    &:nth-child(6n+1)
      teaserLeft()
      background-image linear-gradient(to bottom, var(--color-danger-main) 0%, var(--color-base-darkest) 100%)


    &:nth-child(6n+2)
      teaserRight()
      background-image linear-gradient(to bottom, var(--color-warning-main) 0%, var(--color-info-main) 100%)


    &:nth-child(6n+3)
      teaserLeft()
      background-image linear-gradient(to bottom, var(--color-warning-main) 0%, var(--color-info-main) 100%)

    &:nth-child(6n+4)
      teaserRight()
      background var(--color-danger-main)

    &:nth-child(6n+5)
      teaserLeft()
      background var(--color-warning-main)

    &:nth-child(6n+6)
      teaserRight()
      background var(--color-info-main)

  .product-teaser__pre-title
    color var(--tertiary)

  .product-teaser__title
    color var(--neutral-10)
