.text--alpha
  alpha()

.text--bravo
  bravo()

.text--charlie
  charlie()

.text--delta
  delta()

.text--echo
  echo()

.text--foxtrot
  foxtrot()

.text--golf
  golf()

.text--hotel
  hotel()

.text--india
  india()

.text--juliet
  juliet()

.text--kilo
  kilo()

.text--300
.text--light
  font-weight var(--font-weight-light)

.text--500
.text--regular
  font-weight var(--font-weight-regular)

.text--700
.text--medium
  font-weight var(--font-weight-medium)

.text--900
.text--bold
  font-weight var(--font-weight-bold)
