.no-component
  padding 2rem
  &__inner
    border 1px solid #a2babe
    border-radius 4px
    background-color #ecf2f3
    padding 1.5rem 1.6rem
    display flex
    align-items center

    .icon
      width 2.3rem
      height 2.6rem
      margin-right 1.55rem

  .icon
  &__name
    color #537074

  &__content
    display flex
    flex-direction column

  &__name
    font-weight bold

  &__description
    color #84a4a9
