.no-component
  padding var(--spacing-m)
  &__inner
    border 0.06rem solid var(--color-neutral-content)
    border-radius var(--border-radius-small)
    background-color var(--color-neutral-content)
    padding var(--spacing-m) var(--spacing-m)
    display flex
    align-items center

    .icon
      width 1.44rem
      height 1.63rem
      margin-right var(--spacing-m)

  .icon
  &__name
    color var(--color-primary-main)

  &__content
    display flex
    flex-direction column

  &__name
    font-weight bold

  &__description
    color var(--color-primary-main)
