var(--breakpoint-xs) = 37.50rem
var(--breakpoint-m) = 64.00rem
var(--breakpoint-xl) = 90.00rem

.duo-teaser-box
  display flex
  flex-direction column
  padding var(--spacing-s) 0

  @media (min-width var(--breakpoint-m))
    padding var(--spacing-s) var(--spacing-m)
    flex-direction row

  @media (min-width var(--breakpoint-xl))
    padding var(--spacing-s) var(--spacing-m)

.duo-teaser
  color var(--neutral-10)
  display block
  flex 1

.duo-teaser--right
  margin-top var(--spacing-s)
  @media (min-width var(--breakpoint-m))
    margin-top 0
    margin-left var(--spacing-s)

  @media (min-width var(--breakpoint-xl))
    margin-left var(--spacing-xl)

  .duo-teaser__title--sub-heading
  .duo-teaser__title--heading
    text-align left

.duo-teaser__container
  @media (min-width var(--breakpoint-xs))
    display flex

  @media (min-width var(--breakpoint-m))
    display block
    position relative

  @media (min-width var(--breakpoint-xl))
    display flex

.duo-teaser__image-wrapper
  position relative

  @media (min-width var(--breakpoint-xs))
    flex 1

.duo-teaser__image
  display flex
  height 31.25rem

  img
    width 100%
    object-fit cover

.duo-teaser__title-wrapper
  position absolute
  top 2.13rem
  left 0.94rem
  right 0.94rem
  bottom 1.63rem
  display flex
  flex-direction column

  @media (min-width var(--breakpoint-m))
    top 3.00rem
    left 1.88rem
    right auto
    bottom 3.00rem
    width 100%
    max-width calc(100% - 3.75rem)
  @media (min-width var(--breakpoint-xl))
    bottom 1.63rem

.duo-teaser__title--heading
  font-size var(--font-h4)
  font-weight var(--font-weight-semi-bold)
  line-height 2.25rem
  letter-spacing 0.03rem
  color var(--color-danger-main)

.duo-teaser__title--sub-heading
  font-size var(--font-extrasmall)
  line-height 0.81rem
  font-weight var(--font-weight-bold)

.duo-teaser__title--hint
  font-size var(--font-small)
  line-height 1.06rem
  text-transform uppercase
  font-weight var(--font-weight-bold)
  margin-top auto

.duo-teaser__title--sub-heading
  margin-bottom var(--spacing-xs)

.duo-teaser__title--sub-heading
.duo-teaser__title--heading
  text-align right
  text-transform uppercase

.duo-teaser__overlay
  background var(--color-primary-hover)
  padding var(--spacing-s) var(--spacing-m)
  position relative

  @media (min-width var(--breakpoint-xs))
    display flex
    flex-direction column
    align-items flex-start
    flex 0 0 13.75rem
    padding var(--spacing-xl) var(--spacing-m) var(--spacing-m)

  @media (min-width var(--breakpoint-m))
    padding var(--spacing-m) var(--spacing-m) var(--spacing-m) var(--spacing-xl)

  @media (min-width var(--breakpoint-xl))
    padding var(--spacing-xl) var(--spacing-m)

.duo-teaser__overlay-heading
  display block
  font-weight var(--font-weight-bold)
  font-size var(--font-regular)
  line-height 1.25rem
  letter-spacing 0.03rem
  padding var(--spacing-xs) 0 var(--spacing-xs)
  margin-bottom var(--spacing-s)

  @media (min-width var(--breakpoint-xs))
    margin-bottom var(--spacing-s)

  @media (min-width var(--breakpoint-m))
    font-size var(--font-regular)
    line-height 1.25rem
    letter-spacing 0.04rem

.duo-teaser__overlay-text
  font-weight var(--font-weight-regular)
  font-size var(--font-small)
  line-height 1.25rem
  padding var(--spacing-xs) 0 var(--spacing-xs)

.duo-teaser__button
  position absolute
  top -3.88rem
  right 0.94rem
  font-size var(--font-small)
  font-weight var(--font-weight-bold)
  color var(--color-primary-main)
  text-transform uppercase

  @media (min-width var(--breakpoint-xs))
    position relative
    top 0
    right 0
    margin-top var(--spacing-xl)

  @media (min-width var(--breakpoint-m))
    top -5.37rem
    right 1.88rem
    position absolute
    margin-top 0

  @media (min-width var(--breakpoint-xl))
    position relative
    top 0
    right 0
    margin-top var(--spacing-xl)
