@import './autosuggestion.styl'
@require '../GlobalNavigation/variables.styl'

$breakpoint-small = 320px
$breakpoint-medium = 768px
$breakpoint-large = 990px
$breakpoint-huge = 1500px
$breakpoint-gigantic = 1920px
$breakpoint-hyper = 2560px

.header
  @media (min-width $breakpoint-large)
    padding-top 0
    padding-bottom 0

  @media (min-width $breakpoint-hyper)
    max-width 2560px
    margin-left auto
    margin-right auto

  &__wrapper
    display flex
    align-items center
    justify-content space-between
    border-bottom 1px solid var(--neutral-40)
    padding-top 16px

    @media (min-width $breakpoint-medium)
      padding-top 16px

    @media (min-width $breakpoint-large)
      padding-top 48px
      padding-bottom 24px

  .desktop-navigation__wrapper
    .desktop-navigation
      justify-content flex-end

      .desktop-navigation__item > .button
        margin 10px $space-between-nav-items

.header__search-left
  @media (min-width $breakpoint-medium)
    display none

.header__search-right
  display none

  @media (min-width $breakpoint-medium)
    display inline-flex
    margin-left $space-between-nav-items

.input-icon.header__search-input-right
  display none

  @media (min-width $breakpoint-medium)
    display inline-flex
    margin-top $space-between-nav-items

  input
    outline none

.header__right
  display flex
  justify-content flex-end
  align-items center

  .header__search-input-right
    margin-left $space-between-nav-items
    margin-right $space-between-nav-items

    @media (min-width $breakpoint-large)
      margin-top 32px

.header__menu-button
  margin-top 4px
  height 22px
  padding 0

  @media (min-width $breakpoint-medium)
    margin-top 0
    margin-right 0
    margin-left 24px

  @media (min-width $breakpoint-large)
    margin-top 0
    margin-right 0

  .icon
    color var(--white)

.header__logo
  height 3rem

  // margin-bottom 2.4rem
  @media (min-width $breakpoint-medium)
    height 4rem
    margin-bottom 0

  @media (min-width $breakpoint-large)
    margin-bottom 0

.header__actions
  &--mobile
    @media (min-width $breakpoint-large)
      display flex

  &--desktop
    display none

    @media (min-width $breakpoint-large)
      display block

.header__action
  .icon
    color var(--aubergine)

  & + &
    margin-left 0.6rem

  &--search
    margin-right 0.6rem

    @media (min-width $breakpoint-small)
      display none

.header__basket-bubble
  background var(--brand-2)
  border-radius 7.5px
  color var(--neutral-00)
  padding 0 0.8rem
  position relative
  left -0.6rem // half of the 1.2rem margin

.header__search
  display none

  @media (min-width $breakpoint-small)
    display block
    flex 1
    max-width 23.5rem
    margin 0 auto
    position relative

  @media (min-width $breakpoint-medium)
    margin 0 $ 0 auto

  @media (min-width $breakpoint-large)
    max-width 29rem
    margin 0 4rem 0 auto

  .icon
    height 1.8rem
    width 3.6rem
    color var(--aubergine)
    position absolute
    left 0
    top 50%
    transform translateY(-50%)

.header__search-input
  width 100%
  padding-left 3.6rem
  // TODO: Refactor styles into generic <Input> component
  height 3.6rem
  font-size 1.3rem
  line-height 1.8rem
  color var(--neutral-90)
  background var(--neutral-00)
  border 1px solid var(--primary)
  border-radius 4px
  margin 0.6rem 0 0.4rem

.header__outer-container
  margin-left auto

  @media (min-width $breakpoint-small)
    flex 1

.header__inner-container
  display flex
  align-items center

.header__info-links
  display none

  @media (min-width $breakpoint-large)
    display flex
    justify-content flex-end
    padding 0.1rem 0 0.5rem

.header__info-link
  aphrodite()
  color var(--neutral-50)
  text-decoration none

  &:hover
    text-decoration underline

  & + &
    margin-left 1rem

.header--reduced
  .header__menu-button
    @media (min-width $breakpoint-medium)
      margin-right 24px
      margin-left 24px

.ecommerce-one-badge-wrapper
  display flex
  height 30px
  width 100%
  align-items center
  align-content center
  text-align center
  background-color black
  position fixed
  top 0
  left 0
  z-index 1000

.ecommerce-one-badge-title
  display none
  position fixed
  align-items center
  align-content center
  text-align center
  background-color #333333
  height 30px
  padding-left 10px
  padding-right 6px
  padding-bottom 3px

  @media (min-width $breakpoint_medium)
    display flex

  &:hover
    background-color #717171
    cursor pointer

  >a>span
    color white
    margin-right 4px

.bold
  font-weight bolder

.dd
  position fixed
  background-color #333333
  width 20px
  height 30px
  left 0

  @media (min-width $breakpoint_medium)
    left 268px

  >span
    height 30px

  >span>svg
    fill white
    width 8px

  &:hover
    background-color #717171
    cursor pointer

.dd-active
  background-color black

.ecommerce-one-badge-contact
  display flex
  color white
  margin 0 auto

  >span>svg
    width 16px
    height 16px
    margin-right 10px

.dd-arrow
  height 0
  width 0
  border-left 10px solid transparent
  border-right 10px solid transparent
  border-top 10px solid #333
  position relative
  top 45px
  left 350px

.menu-wrapper
  position absolute
  top 30px
  left 0
  height 230px
  width 170px
  background-color black
  padding-top 5px

  @media (min-width $breakpoint_medium)
    left 118px

  >ul
    color white

  >ul>li>a
    font-size 1.6rem
    margin-bottom 8px
    display flex
    justify-content space-between
    width 100%
    height 30px
    padding 5px

    &:hover
      background-color rgb(72, 72, 72)
      cursor pointer

  >ul>li>a>span
    margin-left 12px
    margin-right 10px

  >ul>li>a>span>svg
    fill white
    width 12px

.item-selected
  background-color rgb(105, 105, 105)

.bdrop
  position absolute
  top 0
  left 0
  width 100vw
  height 100vh
