.product-detail-information
  padding var(--spacing-s) var(--spacing-m) 0

  @media (min-width var(--breakpoint-s))
    padding var(--spacing-l) var(--spacing-m) 0

.product-detail-information__top-header
  display flex
  align-items flex-end
  margin-bottom var(--spacing-s)
  justify-content space-between

  @media (min-width var(--breakpoint-s))
    margin-bottom var(--spacing-l)

.product-detail-information__wrapper
  @media (min-width var(--breakpoint-s))
    display flex
    flex-wrap wrap
    align-items flex-start

  @media (min-width var(--breakpoint-l))
    display grid
    grid-template-areas 'img buy' 'img desc' 'img desc'
    grid-template-columns 1fr 1fr

.product-detail-information__prices
  display flex
  text-align right
  padding 0 0 var(--spacing-xs)

  .product-detail-information__top-header &
    flex-direction column
    margin-left var(--spacing-xs)

    @media (min-width var(--breakpoint-xs))
      flex-direction row
      align-items flex-end

    @media (min-width var(--breakpoint-s))
      display none

  .product-detail-information__buxbox-info &
    justify-content flex-end
    align-items flex-end

    @media (min-width var(--breakpoint-s))
      justify-content flex-start

.product-detail-information__price
  font-size var(--font-h6)
  font-weight var(--font-weight-semi-bold)
  line-height 1.88rem

.product-detail-information__image
  margin 0 -var(--spacing-m) var(--spacing-s)
  position relative
  max-height 37.50rem
  height 50vh
  display flex
  justify-content center
  align-items center
  object-fit cover

  @media (min-width var(--breakpoint-xs))
    margin 0 auto var(--spacing-s)

  @media (min-width var(--breakpoint-s))
    flex 1 0 50%

  @media (min-width var(--breakpoint-l))
    grid-area img

  picture
    height 100%
    display flex
    justify-content center

  img
    width 100%

.product-detail-information__magnifier--tap
  height 100%

  > div
    height 100%
    display flex

  > div > img
    max-height 100%
    max-width 100%
    margin auto
    width auto !important

.product-detail-information__image-button
  position absolute
  bottom 0.75rem
  right 0.75rem
  background var(--product-detail-information-zoom-button-background)
  color var(--neutral-00)

.product-detail-information__buybox
  @media (min-width var(--breakpoint-l))
    grid-area buy
    padding-left var(--spacing-xl)

.product-detail-information__buybox-wrapper
  display flex

  @media (min-width var(--breakpoint-xs))
    order -1
    flex-direction column

  @media (min-width var(--breakpoint-m))
    flex 1

.product-detail-information__manufacturer
  max-width 5.63rem

  @media (min-width var(--breakpoint-s))
    margin-bottom var(--spacing-s)

  img
    max-width 100%

.product-detail-information__variants
  margin-bottom var(--spacing-xs)

.product-detail-information__variant-select
  width 100%

.product-detail-information__variants
  margin-top var(--spacing-l)

.product-detail-information__pill
  margin var(--spacing-s) var(--spacing-xs) var(--spacing-xs) 0
  padding var(--spacing-s) var(--spacing-m)
  border-radius var(--border-radius-full)
  border 0.06rem solid var(--neutral-80)

  &--active
    background var(--neutral-100)
    border-colorv var(--neutral-100)
    color var(--neutral-00)

  &:hover
    cursor pointer

.product-detail-information__buxbox-info
  flex 1
  text-align right

  @media (min-width var(--breakpoint-xs))
    text-align left

.product-detail-information__availability
  display inline-flex
  align-items center
  font-size var(--font-small)
  font-weight var(--font-weight-medium)
  line-height 1.25rem
  letter-spacing 0.01rem
  margin-top var(--spacing-xs)

  @media (min-width var(--breakpoint-s))
    margin var(--spacing-xs) 0 var(--spacing-m)

  @media (min-width var(--breakpoint-m))
    margin-bottom 0

.product-detail-information__availability-icon
  display block
  height 0.69rem
  width 0.69rem
  border 0.06rem solid var(--primary)
  border-radius var(--border-radius-full)
  margin-right var(--spacing-s)

  .product-detail-information__availability--on-stock &
    background var(--positive)

.product-detail-information__actions
  flex 1 0 100%
  display flex
  justify-content normal
  margin-top var(--spacing-l)
  flex-wrap wrap

  @media (min-width var(--breakpoint-xs))
    flex-wrap unset

  @media (min-width var(--breakpoint-s))
    flex 0 0 auto

  @media (min-width var(--breakpoint-m))
    flex 1 0 100%

.product-detail-information__quantity-select
  margin 0 var(--spacing-xs) 0 auto

  @media (min-width var(--breakpoint-xs))
    margin 0 var(--spacing-s)

  .button__text
    margin-right 0

.product-detail-information__wishlist
  @media (min-width var(--breakpoint-xs))
    margin-left auto

.product-detail-information__description
  margin-top var(--spacing-xl)

  @media (min-width var(--breakpoint-l))
    grid-area desc

    @supports (display grid)
      padding-left var(--spacing-xl)
      margin-top 0

  .copytext
    column-count 3
    column-width 18.75rem

    @media (min-width var(--breakpoint-s))
      column-gap 1.25rem

.product-detail-information__add-bundle
  flex-grow 2

  @media (min-width var(--breakpoint-xs))
    flex-grow unset
    margin-left var(--spacing-s)

.product-detail-information__add-cart
  flex-grow unset
