.desktop-navigation__wrapper
  display none

  @media (min-width var(--breakpoint-s))
    display block
    width calc(100% - 1.88rem) // 0.94rem "padding" on each side
    margin 0 auto
    border-bottom 0.06rem solid var(--color-primary-main)

// FIXME: Implement behaviour for overflowing menu-entries
.desktop-navigation
  display flex
  height 2.19rem
  position relative

.desktop-navigation__item-link
  display block
  height 100%
  font-size var(--font-regular)
  font-weight 600
  line-height var(--spacing-xl)
  letter-spacing var(--spacing-xs)
  color var(--color-base-content)
  padding 0 var(--spacing-m)
  position relative

  &:hover
    cursor pointer

  .desktop-navigation__item--expanded &:after
    display block
    content ''
    height 0.19rem
    width calc(100% - 1.88rem) // 0.94rem padding on each side of the text
    background var(--color-base-content)
    position absolute
    bottom 0
    left 0.94rem

.desktop-navigation__flyout
  display grid
  grid-template-columns repeat(auto-fill, minmax(13.13rem, 1fr))
  grid-gap var(--spacing-m)
  flex-wrap wrap
  width 100%
  background var(--color-primary-content)
  position absolute
  top calc(100% + 0.31rem)
  left 0
  z-index var(--z-index-medium)
  padding var(--spacing-l) var(--spacing-m)
  border 0.06rem solid var(--color-primary-content)
  border-radius var(--border-radius-small)
  box-shadow var(--elevation-l)

.desktop-navigation__flyout-column-header
  display flex
  align-items center
  height 1.88rem
  font-size var(--font-small)
  font-weight var(--font-weight-medium)
  line-height 1.13rem
  letter-spacing 0.01rem

.desktop-navigation__flyout-column-list
  font-size var(--font-small)
  font-weight var(--font-weight-regular)
  line-height 1.13rem
  letter-spacing 0.01rem

  li
    border-top 0.06rem solid var(--color-primary-content)

    &:last-of-type
      border-bottom 0.06rem solid var(--color-primary-content)

  a
    display flex
    align-items center
    padding var(--spacing-xs) var(--spacing-xs) var(--spacing-xs) 0

    span
      margin-right var(--spacing-xs)

    .icon
      flex 0 0 0.50rem
      height 0.81rem
      width 0.50rem
      margin-left auto
      color var(--color-primary-main)
