$breakpoint-large = 800px

.desktop-navigation__wrapper
  display none

  @media (min-width $breakpoint-large)
    display block
    width calc(100% - 3rem) // 1.5rem "padding" on each side
    margin 0 auto
    border-bottom 1px solid var(--neutral-40)

// FIXME: Implement behaviour for overflowing menu-entries
.desktop-navigation
  display flex
  height 3.5rem
  position relative

.desktop-navigation__item-link
  display block
  height 100%
  font-size 1.7rem
  font-weight var(--font-weight-semi-bold)
  line-height 3.5rem
  letter-spacing 0.025rem
  color var(--neutral-90)
  padding 0 1.5rem
  position relative

  &:hover
    cursor pointer

  .desktop-navigation__item--expanded &:after
    display block
    content ''
    height 0.3rem
    width calc(100% - 3rem) // 1.5rem padding on each side of the text
    background var(--neutral-90)
    position absolute
    bottom 0
    left 1.5rem

.desktop-navigation__flyout
  display grid
  grid-template-columns repeat(auto-fill, minmax(21rem, 1fr))
  grid-gap 2rem
  flex-wrap wrap
  width 100%
  background var(--neutral-00)
  position absolute
  top calc(100% + 0.5rem) // 1px for the border
  left 0
  z-index var(--z-index-medium)
  padding 2.5rem 2rem
  border 1px solid var(--neutral-40)
  border-radius 4px
  box-shadow var(--elevation-l)


.desktop-navigation__flyout-column-header
  display flex
  align-items center
  height 3rem
  font-size 1.4rem
  font-weight var(--font-weight-medium)
  line-height 1.8rem
  letter-spacing 0.02rem

.desktop-navigation__flyout-column-list
  font-size 1.4rem
  font-weight var(--font-weight-regular)
  line-height 1.8rem
  letter-spacing 0.02rem

  li
    border-top 1px solid var(--tertiary)

    &:last-of-type
      border-bottom 1px solid var(--tertiary)

  a
    display flex
    align-items center
    padding 0.6rem 0.5rem 0.6rem 0

    span
      margin-right 0.6rem

    .icon
      flex 0 0 0.8rem
      height 1.3rem
      width 0.8rem
      margin-left auto
      color var(--neutral-50)
