.footer
  display flex
  flex-wrap wrap
  width calc(100% - 1.88rem) // 0.94rem "padding" on each side
  margin var(--spacing-xl) auto 0
  padding var(--spacing-s) var(--spacing-m)
  border-top 0.06rem solid var(--neutral-40)

  &__column
    padding 0
    margin 0
    flex-grow 1
    margin-bottom var(--spacing-s)

  &__heading
    font-size var(--font-h6)
    line-height 2.00rem
    margin-bottom var(--spacing-s)
    font-weight var(--font-weight-semi-bold)

  &__link
    display block
    font-size var(--font-regular)
    line-height 1.25rem

@media (max-width var(--breakpoint-s))
  .footer
    &__column
      width 50%
      flex-grow 2
      margin-bottom var(--spacing-m)
      text-align center

    &__link
      font-size var(--font-regular)
      line-height 1.88rem

@media (max-width var(--breakpoint-xs))
  .footer
    &__column
      width 100%
      flex-grow 1
