.dvinci-widget 
  display block
  margin-bottom var(--space-xl)
  padding 0 var(--space-s-m)

.dvinci-filter-heading
  color var(--aubergine) !important
  font-family var(--font-family-regular) !important

.cta-box
  width 100%
  text-align center
  margin-top 16px
  font-size 16px
  font-weight bolder
  
  >a
    color var(--teal)
  
.dvinci-job-entry 
  background linear-gradient(180deg, #61304d, #ddc7d4) !important

  .copytext 
    text-align center
    margin var(--space-m)
  

  .renewal-button 
    text-decoration underline
    color var(--link)
    font-weight var(--font-weight-medium)
    letter-spacing 0.02rem
    cursor pointer

    &:hover 
      text-decoration none
    

    &:active 
      color var(--notification)
      text-decoration none
    
  

