.discovery-image
  display flex
  min-width 0
  width calc(100% - 1.88rem)
  margin var(--spacing-m) auto


  .products
    overflow hidden
    padding 0
    position relative
    flex 1
    min-height 0
    min-width 0

    .product-item
      position relative
      width 11.25rem
      margin 0 auto
      padding 0
      border-top 0

      .product-item__image
        width 11.25rem
        height 11.25rem
        border 0.06rem solid var(--color-neutral-content)

        img
          height 100%

      .product-spot-index
        top 0.50rem
        left 0.50rem
        background linear-gradient(180deg, var(--color-base-main) 0%, var(--color-neutral-content) 100%)

    .slick-active
      .product-spot-index
        color var(--color-base-main)
        background linear-gradient(180deg, var(--color-primary-main) 0%, var(--color-base-darkest) 100%)

      .product-item__image
        position relative
        border 0.06rem solid var(--color-primary-main)

        &:after, &:before 
          bottom -0.06rem
          left 50%
          border solid transparent
          content " "
          height 0
          width 0
          position absolute
          pointer-events none
        

        &:after 
          border-bottom-color var(--color-base-main)
          border-width 0.63rem
          margin-left -var(--spacing-s)
        
        &:before 
          border-bottom-color var(--color-primary-hover)
          border-width 0.69rem
          margin-left -var(--spacing-s)
        

    &:before, &:after
      content ''
      height 100%
      width 3.00rem
      position absolute
      z-index 10
      top 0

    &:before
      left 0
      background linear-gradient(90deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%)

    &:after
      right 0
      background linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,1) 70%)

  .spots
    width 31.25rem
    position relative
    display block

    img.product-image
      width 31.25rem

  .spot
    position absolute
    box-sizing border-box
    background-color var(--color-base-main)
    border 0.13rem solid var(--color-base-main)
    box-shadow 0 0 0.13rem 0 rgba(48,59,71,1)
    display block
    border-radius var(--border-radius-full)
    color var(--color-primary-hover)
    text-align center
    line-height 1.25rem
    font-size var(--font-small)
    font-weight 500
    width 1.50rem
    height 1.50rem
    cursor pointer
    top 0
    left 0

    &__active
      color var(--color-base-main)
      background linear-gradient(180deg, var(--color-primary-main) 0%, var(--color-base-darkest) 100%)

@media (max-width var(--breakpoint-s))
  .discovery-image
    max-width 31.25rem
    flex-direction column

    .products
      margin-top var(--spacing-m)

    .spots
      width 100%
      max-width 31.25rem

      img.product-image
        width 100%
        max-width 31.25rem

      &:after, &:before 
        bottom 0.13rem
        left 50%
        border solid transparent
        content " "
        height 0
        width 0
        position absolute
        pointer-events none
      

      &:after 
        border-bottom-color var(--color-base-main)
        border-width 0.63rem
        margin-left -var(--spacing-s)
      
      &:before 
        border-bottom-color var(--color-primary-hover)
        border-width 0.69rem
        margin-left -var(--spacing-s)
      
