$breakpoint_medium = 768px
$breakpoint_large = 990px
$breakpoint_huge = 1800px

.card
  display block
  text-align center
  overflow hidden
  position relative
  align-self center

  &__container
    display flex
    justify-content center

  &__item
    padding 16px
    border-radius 12px
    width 100%

    @media (min-width $breakpoint-large)
      width 800px

    @media (min-width $breakpoint-huge)
      width 1000px

    .copytext
      text-align left

    @media (min-width $breakpoint-medium)
      padding 24px

      .copytext
        text-align center

    @media (min-width $breakpoint-large)
      padding 32px
      max-width 880px

  // &__nolink
  // padding-bottom 20px
  & > .heading:last-child, & > .copytext:last-child
    margin-bottom 0

  & > .heading
    margin-bottom 12px

  & > .copytext
    bravo()
    margin-bottom 12px
    opacity 75%

  & > .icon
    width 36px
    height 36px
    margin-bottom 20px

  &__actions
    margin-top 24px

    .button
      charlie()

  &__background
    position relative

    @media (min-width $breakpoint-medium)
      margin 0 auto

  &__image
    background-size contain
    background-position 50% 50%
    width 100%
    min-height 250px
    max-height 250px
    margin-bottom 24px
    border-radius 4px

  &--empty
    padding 0
    min-height 16rem

  @media (min-width $breakpoint_medium)
    .heading
      margin-bottom 12px

    & > .icon
      width 44px
      height 44px

    &__image
      height 100%

    &__actions
      // bottom 24px

    &--empty
      padding 0
      min-height 26rem

  &__theme--primary
    background var(--radial-gradient)
    color var(--white)

    & .button
      color var(--primary)

    .card__item
      background-color var(--white)
      color var(--black)

  &__theme--white
    background-color var(--white)
    color var(--black)

    .card__item
      background-color var(--dark-primary)
      color var(--white)

    & .button
      color var(--white)

  &__theme--none
    background-color none
    color var(--white)

    .card__item
      background-color var(--white)
      color var(--black)

    & .button
      color var(--primary)

  &__reduce-top-space
    padding-top 0

  &__reduce-max-width
    @media (min-width $breakpoint_huge)
      max-width var(--max-width)
      margin-left auto
      margin-right auto
