button.styl, .button
  display flex
  delta()
  border-radius 2rem
  padding 0.7rem var(--spacer-l) 0.7rem var(--spacer-l)
  text-align center
  align-items center
  justify-content center
  font-size 15px
  font-weight var(--font-weight-bold)

  &:hover
    cursor pointer

  &:disabled
    opacity 0.3
    cursor auto

  &--primary
    background var(--white)
    border 1px solid var(--white)
    color var(--primary)

    &:hover:not(:disabled)
      background none
      border 1px solid var(--white)
      color var(--white)

  &--secondary
    background none
    border 1px solid var(--primary)
    color var(--primary)

    &:hover
      background none

  &--link
    color lighten(#009fe3, 45%)
    charlie()
    border none
    padding 0
    margin 0
    height auto
    text-align left

    &:after
      content '\203A'
      padding-left var(--spacer-xxs)

    &:hover
      color darken(#63B6C8, 15%)

      span
        text-decoration underline

    &:disabled:hover span
      text-decoration none

    // Overrides of generic styling for Link-Button
    &.button--icon-right
      .button__text
        margin-right 0

    &.button--icon-left
      .button__text
        margin-left 0

  &--icon
    display inline-flex
    align-items center

    .icon
      width 2rem
      height 2rem

  &--icon-only
    color var(--white)
    padding 0.8rem 0

    &:hover
      background var(--idle)
      border-color var(--neutral-30)
      color var(--primary)

    &:active
      background var(--neutral-00)
      border-color var(--primary)
      color var(--neutral-90)

    &:disabled
      background var(--neutral-00)
      border-color var(--tertiary)
      color var(--neutral-30)

  &--link-icon
    padding 0.8rem 0
    background var(--neutral-00)
    border none
    color var(--neutral-90)

    &:hover
      background var(--neutral-10)
      border 1px solid var(--neutral-10)

    &:active
      background var(--neutral-20)
      border 1px solid var(--neutral-20)

    &:disabled
      background var(--neutral-00)
      border none
      color var(--neutral-30)

  &--icon-right, &--icon-left
    .button__text
      white-space normal
      text-overflow ellipsis
      overflow hidden

  &--icon-right
    .button__text
      margin-right 0.4rem

    .icon svg
      margin-top 0.1rem

  &--icon-left
    padding 0.7rem var(--spacer-l) 0.7rem var(--spacer-xs)

    .button__text
      margin-left 1.1rem

    .icon
      order -1

a.button
  text-decoration none
