.button
  display inline-block
  color var(--fountain-blue)
  font-size 1.4rem
  font-weight var(--font-weight-medium)
  line-height 1.8rem
  letter-spacing 0.03rem
  background var(--white)
  border 1px solid var(--trout)
  border-radius 4px
  padding 1rem 1.2rem 0.8rem
  margin 0.6rem 0 0.4rem

  &:hover
    cursor pointer
    background var(--athena)
    border-color var(--heather)
    color var(--trout)

  &--primary
    background var(--trout)
    border-color var(--trout)
    color var(--athena)

    &:hover
      background var(--chateau)
      color var(--white)

  &--secondary
    background var(--zest)
    border-color var(--zest)
    color var(--white)

    &:hover
      background var(--buckthorn)
      color var(--white)

  &--icon-right
  &--icon-left
    display inline-flex
    align-items center

    .icon
      height 1.8rem
      width 0.7rem

  &--icon-right
    .button__text
      margin-right 1.2rem

  &--icon-left
    .button__text
      margin-left 1.2rem

    .icon
      order -1

a.button
  text-decoration none
