.video-teaser
  font-family "Merriweather Sans"
  display block
  position relative
  color var(--neutral-00)

.video-teaser__video
  display block
  height 49.8rem
  border 1px solid red

  video
    height 100%

.video-teaser__sub-heading
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.3rem;
  letter-spacing: 0.3rem;
.video-teaser__heading
  border 1px solid yellow
  position absolute
  margin 4.8rem 0 0 1.5rem;
  top 0
  left 0
  max-width 21.2rem
  .heading
    color #EE3F28
    text-transform: uppercase;
    font-size 2.6rem
    line-height 3.3rem
    letter-spacing 0.118rem
.video-teaser__content
  border 1px solid blue
  background-color #152429;
  padding 10px 15px;

.video-teaser__buy-box
  text-transform: uppercase

.video-teaser__button
  width: 145px;
  height: 30px;
  padding: 0;
  font-size: 1.3rem;
