$breakpoint-small = 700px
$breakpoint-medium = 1000px
$breakpoint-large = 1366px
$breakpoint-gigantic = 1920px

.pattern
  padding 32px 24px

  @media (min-width $breakpoint-small)
    padding 40px 40px

  @media (min-width $breakpoint-medium)
    padding 48px 40px

  @media (min-width $breakpoint-large)
    padding 64px 80px

.error-page
  font-family var(--font-family-regular)
  background-image linear-gradient(45deg, #009fe3 0%, #000 100%)
  background-repeat no-repeat
  background-position center center
  background-attachment fixed
  color var(--white)
  position relative

  &:after
    content ' '
    background-image url('/assets/images/backgrounds/bg_water.svg')
    background-repeat no-repeat
    position fixed
    top -8%
    left -25%
    width 100%
    height 100vh
    opacity 0.4
    z-index 0

    @media (min-width $breakpoint-small)
      top -3%
      left -20%
      opacity 0.5

    @media (min-width $breakpoint-medium)
      top -5%
      left -25%
      opacity 0.4

    @media (min-width $breakpoint-large)
      top -10%
      left -40%
      opacity 0.5

  @media (min-width $breakpoint-gigantic)
    max-width 1500px
    margin 0 auto

.error-page__logo-wrapper
  position relative
  display flex
  width 100%
  justify-content center
  margin-bottom 3.2rem
  z-index var(--z-index-high)

.error-page__logo
  img
    width 120px

    @media (min-width $breakpoint-medium)
      width 200px

  @media (min-width $breakpoint-medium)
    top 4rem

.error-page__image
  position relative
  display flex
  width 100%
  justify-content center
  margin-bottom 3.2rem
  z-index var(--z-index-high)

  img
    width 100%
    max-width 100%
    box-shadow var(--elevation-l)

    @media (min-width $breakpoint-small)
      max-width 450px

.error-page__heading
  font-size 3rem
  font-weight var(--font-weight-medium)
  line-height 3.6rem
  letter-spacing 0.05rem
  margin-bottom 2rem
  text-align center

  @media (min-width $breakpoint-small)
    max-width 65rem
    margin 0 auto 3.2rem

  @media (min-width $breakpoint-medium)
    font-size 4.2rem
    line-height 4.8rem
    letter-spacing 0.109rem
    max-width 100%

.error-page__content
  position relative
  display grid
  grid-template-columns 1fr
  grid-gap 2.4rem
  z-index var(--z-index-high)
  margin 0 auto
  color var(--neutral-90)

  @media (min-width $breakpoint-small)
    grid-gap 4.8rem

  @media (min-width $breakpoint-medium)
    grid-template-columns 1fr 1fr
    grid-gap 3.2rem
    margin-top 8rem

.error-page__text
  @media (min-width $breakpoint-small)
    max-width 50rem
    margin 0 auto

.error-page__form-wrapper
  margin-top 4.8rem
  position relative

  @media (min-width $breakpoint-small)
    margin-top 0

.error-page__form
  display flex
  flex-direction column
  align-items center

.error-page__badge
  position absolute
  z-index 900
  bottom -16px
  right 0
  width 120px
  height 120px
  padding 10px
  display flex
  flex-wrap wrap
  align-content center
  justify-content center
  background var(--white)
  color var(--primary)
  font-size 12px
  line-height 1.2
  font-weight var(--font-weight-bold)
  border-radius 50%
  rotate 15deg

  @media (min-width $breakpoint-small)
    width 150px
    height 150px
    font-size 17px
    bottom -40px
    right 16px

  @media (min-width $breakpoint-large)
    bottom -50px
    right 16px

.error-page__further-info
  margin 4.8rem 0

  @media (min-width $breakpoint-small)
    margin 10rem auto 4.8rem

  @media (min-width $breakpoint-large)
    max-width 80rem
    margin 8rem auto 4.8rem

  > span
    display block
    font-weight var(--font-weight-medium)
    font-size 1.4rem
    line-height 1.8rem
    letter-spacing 0.02rem
    margin-bottom 1.5rem
    text-align center

  p
    font-size 1.3rem
    line-height 1.8rem

  ul
    margin-top 2rem
    font-family 'courier'
    font-size 1.3rem
    line-height 1.8rem

    li
      display flex
      flex-direction column

      @media (min-width $breakpoint-small)
        flex-direction row

    li + li
      margin-top 0.5rem

    span:first-of-type
      font-weight bold

      @media (min-width $breakpoint-small)
        flex 0 0 9.5rem

.error-page__link
  color var(--white) !important
  text-decoration underline

#hubspotErrorForm
  width 100%

  @media (min-width $breakpoint-small)
    width 70%