.text--zero
  zero()

.text--aphrodite
  aphrodite()

.text--bacchus
  bacchus()

.text--cupid
  cupid()

.text--diana
  diana()

.text--eos
  eos()

.text--fortuna
  fortuna()

.text--gaia
  gaia()

.text--herakles
  herakles()

.text--isis
  isis()

.text--300
.text--light
  font-weight var(--font-weight-light)

.text--400
.text--regular
  font-weight var(--font-weight-regular)

.text--500
.text--medium
  font-weight var(--font-weight-medium)

.text--600
.text--semi-bold
  font-weight var(--font-weight-semi-bold)

.text--700
.text--bold
  font-weight var(--font-weight-bold)

.text--900
.text--black
  font-weight var(--font-weight-black)
