@font-face
  font-display fallback
  font-family FiraSans
  font-weight 300
  src url('/assets/fonts/core/FiraSans-Light.woff2') format('woff2'), url('/assets/fonts/core/FiraSans-Light.woff') format('woff'), url('/assets/fonts/core/FiraSans-Light.ttf') format('truetype')

@font-face
  font-display fallback
  font-family FiraSans
  font-weight 400
  src url('/assets/fonts/core/FiraSans-Regular.woff2') format('woff2'), url('/assets/fonts/core/FiraSans-Regular.woff') format('woff'), url('/assets/fonts/core/FiraSans-Regular.ttf') format('truetype')

@font-face
  font-display fallback
  font-family FiraSans
  font-weight 400
  src url('/assets/fonts/core/FiraSans-Italic.woff2') format('woff2'), url('/assets/fonts/core/FiraSans-Italic.woff') format('woff'), url('/assets/fonts/core/FiraSans-Italic.ttf') format('truetype')
  font-style italic

@font-face
  font-display fallback
  font-family FiraSans
  font-weight 500
  src url('/assets/fonts/core/FiraSans-Medium.woff2') format('woff2'), url('/assets/fonts/core/FiraSans-Medium.woff') format('woff'), url('/assets/fonts/core/FiraSans-Medium.ttf') format('truetype')

@font-face
  font-display fallback
  font-family FiraSans
  font-weight 600
  src url('/assets/fonts/core/FiraSans-SemiBold.woff2') format('woff2'), url('/assets/fonts/core/FiraSans-SemiBold.woff') format('woff'), url('/assets/fonts/core/FiraSans-SemiBold.ttf') format('truetype')

@font-face
  font-display fallback
  font-family FiraSans
  font-weight 600
  src url('/assets/fonts/core/FiraSans-SemiBoldItalic.woff2') format('woff2'), url('/assets/fonts/core/FiraSans-SemiBoldItalic.woff') format('woff'), url('/assets/fonts/core/FiraSans-SemiBoldItalic.ttf') format('truetype')
  font-style italic

@font-face
  font-display fallback
  font-family FiraSans
  font-weight 700
  src url('/assets/fonts/core/FiraSans-Bold.woff2') format('woff2'), url('/assets/fonts/core/FiraSans-Bold.woff') format('woff'), url('/assets/fonts/core/FiraSans-Bold.ttf') format('truetype')

@font-face
  font-display fallback
  font-family FiraSans
  font-weight 900
  src url('/assets/fonts/core/FiraSans-Black.woff2') format('woff2'), url('/assets/fonts/core/FiraSans-Black.woff') format('woff'), url('/assets/fonts/core/FiraSans-Black.ttf') format('truetype')

@font-face
  font-display fallback
  font-family FiraSans
  font-weight 900
  src url('/assets/fonts/core/FiraSans-BlackItalic.woff2') format('woff2'), url('/assets/fonts/core/FiraSans-BlackItalic.woff') format('woff'), url('/assets/fonts/core/FiraSans-BlackItalic.ttf') format('truetype')
  font-style italic

