html
  font-smooth always
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.body--no-overflow
  overflow hidden

.site-wrapper
  background var(--color-base-main)
  max-width 87.50rem // 87.50rem
  margin 0 auto
  color var(--color-base-content) // default text color
  font-family var(--font-family-regular)
  font-size var(--font-regular)
  position relative

a
  text-decoration inherit
  color currentColor
