// TODO: smart names
font-s()
  font-size var(--font-extrasmall)
  line-height 1.6em
  letter-spacing 0.01rem
  padding-top var(--spacing-xs)
  padding-bottom var(--spacing-xs)

font-m()
  font-size var(--font-small)
  line-height 1.6em
  letter-spacing 0
  padding-top var(--spacing-xs)
  padding-bottom var(--spacing-xs)

font-l()
  font-size var(--font-regular)
  line-height 1.6em
  padding-top var(--spacing-xs)
  padding-bottom var(--spacing-xs)

font-h6()
  font-size var(--font-h6)
  line-height 1.6em
  letter-spacing -0.01rem
  padding-top var(--spacing-xs)
  padding-bottom var(--spacing-xs)

font-h5()
  font-size var(--font-h5)
  line-height 1.6em
  letter-spacing -0.01rem
  padding-top var(--spacing-xs)
  padding-bottom var(--spacing-xs)

font-h4()
  font-size var(--font-h4)
  line-height 1.6rem
  letter-spacing -0.01rem
  padding-top var(--spacing-xs)
  padding-bottom var(--spacing-xs)

font-h3()
  font-size var(--font-h3)
  line-height 1.6em
  letter-spacing -0.01rem
  padding-top var(--spacing-xs)
  padding-bottom var(--spacing-xs)

font-h2()
  font-size var(--font-h2)
  line-height 1.6em
  letter-spacing -0.01rem
  padding-top var(--spacing-xs)
  padding-bottom var(--spacing-xs)

font-h1()
  font-size var(--font-h1)
  line-height 1.6em
  letter-spacing -0.01rem
  padding-top var(--spacing-xs)
  padding-bottom var(--spacing-xs)