zero()
  font-size 0.900rem
  line-height 1.200rem
  letter-spacing 0.020rem
  padding-top 0.300rem
  padding-bottom 0.300rem

aphrodite()
  font-size 1.300rem
  line-height 1.800rem
  letter-spacing 0.005rem
  padding-top 0.500rem
  padding-bottom 0.100rem

bacchus()
  font-size 1.600rem
  line-height 2.400rem
  padding-top 0.100rem
  padding-bottom 0.500rem

cupid()
  font-size 2.000rem
  line-height 2.400rem
  letter-spacing -0.010rem
  padding-top 0.500rem
  padding-bottom 0.100rem

diana()
  font-size 2.400rem
  line-height 3.000rem
  letter-spacing -0.015rem
  padding-top 0.100rem
  padding-bottom 0.500rem

eos()
  font-size 3.000rem
  line-height 3.600rem
  letter-spacing -0.025rem
  padding-top 0.200rem
  padding-bottom 0.400rem

fortuna()
  font-size 3.600rem
  line-height 4.200rem
  letter-spacing -0.050rem
  padding-top 0.300rem
  padding-bottom 0.300rem

gaia()
  font-size 4.200rem
  line-height 4.800rem
  letter-spacing -0.070rem
  padding-top 0.400rem
  padding-bottom 0.200rem

herakles()
  font-size 5.400rem
  line-height 6.600rem
  letter-spacing -0.110rem
  padding-top 0.300rem
  padding-bottom 0.300rem

isis()
  font-size 6.600rem
  line-height 7.200rem
  letter-spacing -0.160rem
  padding-top 0.200rem
  padding-bottom 0.400rem

