// define Custom Properties for fonts
:root
  --font-family-regular 'FiraSans'

// define Custom Properties for elevations
:root
  --elevation-s 0 0 0.13rem 0 rgba(0, 0, 0, 0.05), 0 0.06rem 0.19rem 0 rgba(0, 0, 0, 0.15)
  --elevation-m 0 0.13rem 0.31rem -0.06rem rgba(0, 0, 0, 0.15), 0 0.06rem 0.19rem 0 rgba(0, 0, 0, 0.08)
  --elevation-l 0 0.19rem 0.50rem -0.06rem rgba(0, 0, 0, 0.15), 0 0.06rem 0.19rem 0 rgba(0, 0, 0, 0.05)
  --elevation-xl 0 0.50rem 1.25rem -0.19rem rgba(0, 0, 0, 0.12), 0 0.13rem 0.31rem 0 rgba(0, 0, 0, 0.07)
  --elevation-xxl 0 0.75rem 2.50rem -0.50rem rgba(0, 0, 0, 0.12), 0 0.31rem 0.63rem 0 rgba(0, 0, 0, 0.07)

// define Custom Properties for z-indices
:root
  --z-index-lowest 1
  --z-index-low 10
  --z-index-medium 50
  --z-index-overlay 60
  --z-index-high 70
  --z-index-highest 100
