.tags
  text-align left
  list-style none

  li
    display inline-block
    text-align left
    // height 32px
    border-radius 16px
    padding var(--spacer-xxxs) var(--spacer-xxs)
    background-color rgba(235, 110, 104, 0.15)
    margin-right var(--spacer-xxs)

    &:last-child
      margin-right 0