$header-breakpoint-mobile-small = 500px
$header-breakpoint-mobile-medium = 670px
$header-breakpoint-tablet = 950px
$header-breakpoint-desktop-menu = 1152px

html
  font-smooth always
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

body
  font-size $font-size-base // base font-size 16px

#svg-wrapper
  display none

.site-wrapper
  max-width 1024px
  margin 0 auto
