$font-size-base = 1.6rem

// z-indices
$z-index-lowest = 1
$z-index-low = 10
$z-index-medium = 50
$z-index-overlay = 60
$z-index-high = 70
$z-index-highest = 100

// ie specific
$ieOnly = 'screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none)'
