

.browser-hint-page
  display flex
  flex-direction column
  align-items center
  font-family var(--font-family-regular)
  padding 0 var(--spacing-m)
  margin 0 auto
  max-width 48.50rem
  width 100%
  @media (min-width var(--breakpoint-s))
    width 66.666666%

.browser-hint-page__logo
  margin var(--spacing-m) 0 var(--spacing-xl)

  @media (min-width var(--breakpoint-s))
    margin var(--spacing-xl) 0 var(--spacing-xl)

.browser-hint-page__content
  width 100%
  margin-bottom var(--spacing-xl)

  h1
    margin-bottom var(--spacing-xl)
    @media (min-width var(--breakpoint-s))
      font-h3()
      margin-bottom var(--spacing-xl)

  h2
    margin-bottom var(--spacing-xl)
    @media (min-width var(--breakpoint-s))
      font-h5()
      margin-bottom var(--spacing-l)

.browser-hint-page__column-wrapper
  display flex
  flex-wrap wrap
  justify-content space-between

.browser-hint-page__column
  width 100%
  @media (min-width var(--breakpoint-s))
    width calc(50% - 0.75rem)

  &:first-child
    margin-bottom var(--spacing-l)
    @media (min-width var(--breakpoint-s))
      margin-bottom 0

.browser-hint-page__browsers
  display flex
  flex-direction column
  width 100%

  h1
    margin-bottom var(--spacing-l)

.browser-hint-page__browsers-list
  display flex
  flex-direction column
  width 100%
  @media (min-width var(--breakpoint-xs))
    flex-direction row

  .browser
    display flex
    flex-direction column
    align-items center

    &--firefox
      img
        width 3.00rem
        height 3.13rem
        margin-bottom var(--spacing-m)
        @media (min-width var(--breakpoint-s))
          width 4.88rem
          height 5.00rem

    &--chrome
      img
        width 3.00rem
        height 3.00rem
        margin-bottom var(--spacing-m)
        @media (min-width var(--breakpoint-s))
          width 4.88rem
          height 4.88rem

    &--edge
      @media (min-width var(--breakpoint-xs))
        margin-left var(--spacing-m)
      img
        width 2.81rem
        height 3.00rem
        margin-bottom var(--spacing-m)
        @media (min-width var(--breakpoint-s))
          width 4.56rem
          height 4.88rem

    &--firefox, &--chrome
      width 50%

.browser-hint-page__browsers-wrapper
  display flex
  flex-direction column
  align-items center
  margin-bottom var(--spacing-xl)

.browser-hint-page__browsers-wrapper-content
  display flex

.browser-hint-page__browsers-divider
  margin var(--spacing-s) 0
  @media (min-width var(--breakpoint-s))
    margin var(--spacing-s) 0 var(--spacing-l)

.browser-hint-page__browsers-wrapper-content, .browser-hint-page__browsers-divider
  width 13.56rem
  @media (min-width var(--breakpoint-xs))
    width 16.06rem

