.desktop-filter
  display none

  @media (min-width var(--breakpoint-m))
    display block
    flex 0 0 15.00rem
    padding-right var(--spacing-m)

  @media (min-width var(--breakpoint-l))
    flex-basis 18.75rem

.desktop-filter__section

  & + &
    margin-top var(--spacing-l)

  &:last-of-type
    margin-bottom var(--spacing-xl)

.desktop-filter__multi-select-item--default
  font-size var(--font-small)
  line-height 1.13rem

  &--active
    font-weight var(--font-weight-medium)

  & + &
    margin-top var(--spacing-s)

  label
    display flex
    align-items center

    &:hover
      cursor pointer

  .icon
    flex-shrink 0
    height 1.13rem
    width 1.13rem
    margin-right var(--spacing-xs)
    color var(--color-primary-main)

  input
    display none

.desktop-filter__multi-select__wrapper
  overflow hidden
  transition max-height 0.2s

  &--overflow
    border-bottom 0.06rem solid var(--color-primary-content)
    box-shadow inset 0 -0.50rem 0.31rem -0.50rem rgba(0, 0, 0, 0.2)
    max-height 12.69rem

.desktop-filter__multi-select-button
  display none
  &--visible
    display block
  
.desktop-filter__multi-select--grid
  display grid
  grid-template-columns repeat(3, 1fr)
  grid-gap var(--spacing-s)
  grid-auto-flow dense

.desktop-filter__multi-select-item--grid
  background var(--color-primary-content)
  border 0.06rem solid var(--color-primary-content)
  border-radius var(--border-radius-small)

  &--active
    border-color var(--color-base-content)
    background var(--color-primary-main)
    color var(--color-base-darker)

  &-2-col
    grid-column span 2

  &-3-col
    grid-column span 3

  label
    display flex
    justify-content center
    align-items center
    text-align center
    min-height 1.88rem
    font-size var(--font-small)
    font-weight var(--font-weight-medium)
    line-height 1.13rem
    letter-spacing 0.01rem

    &:hover
      cursor pointer

  input
    display none

.desktop-filter__range-filter
  background var(--color-primary-content)
  padding 0 var(--spacing-m) 0 var(--spacing-s)

.desktop-filter__range-filter-label
  display block
  text-align center
  margin-bottom var(--spacing-s)
