.modal
  background-color var(--neutral-00)
  overflow auto
  position fixed
  top 10%
  width 85vw
  max-width 37.50rem
  padding var(--spacing-m)
  left 50%
  transform translateX(-50%)
  z-index var(--z-index-high)
  box-shadow var(--elevation-xl)

.modal__close-button
  position absolute
  top 0.75rem
  right 0.75rem
