.modal
  background-color var(--neutral-00)
  overflow auto
  position fixed
  top 10%
  width 85vw
  max-width 60rem
  padding 1.8rem
  left 50%
  transform translateX(-50%)
  z-index var(--z-index-high)
  box-shadow var(--elevation-xl)

.modal__close-button
  position absolute
  top 1.2rem
  right 1.2rem
