.cart-modal
  width 40rem

  .cart-modal__wrapper
    display flex
    flex-direction column
    align-items center

    .cart-modal__buttons
      .button:first-of-type
        margin-right 1rem

    .text
      margin-top 0.4rem

    .button
      margin-top 1.4rem