.empty-search-result
  padding 0 1.5rem
  margin-top 2.4rem
  width 100%
  text-align center

  @media (min-width $breakpoint-large)
    padding 0 2rem

  .icon
    color var(--neutral-70)
    height 4rem
    width 4rem
    margin-bottom 1rem
