.empty-search-result
  padding 0 var(--spacing-m)
  margin-top var(--spacing-l)
  width 100%
  text-align center

  @media (min-width var(--breakpoint-l))
    padding 0 var(--spacing-m)

  .icon
    color var(--neutral-70)
    height 2.50rem
    width 2.50rem
    margin-bottom var(--spacing-s)
