.filters-list
  display flex
  flex-direction column
  gap 16px

  &__question
    display flex
    align-items flex-start
    justify-content space-between

    &__text-content
      display flex
      flex-direction column
      gap 8px

      &__list-options
        display flex
        flex-direction column
        gap 4px