.button
  display inline-block
  color var(--neutral-90)
  font-size 1.4rem
  line-height 1.8rem
  letter-spacing 0.03rem
  background var(--neutral-00)
  border 1px solid var(--primary)
  border-radius 4px
  padding 1rem 1.2rem 0.8rem
  margin 0.6rem 0 0.4rem
  text-align center

  &:hover
    cursor pointer

  &:disabled
    cursor auto

  &--primary
    background var(--primary)
    border-color var(--primary)
    color var(--neutral-00)
    font-weight var(--font-weight-medium)

    &:hover
      background var(--neutral-90)

    &:active
      background var(--neutral-60)

    &:disabled
      background var(--idle)
      border-color var(--neutral-30)
      color var(--neutral-10)

  &--primary-alt
    background var(--secondary)
    border-color var(--secondary)
    color var(--neutral-00)
    font-weight var(--font-weight-medium)

    &:hover
      background var(--button-primary-alt-hover)

    &:active
      background var(--button-primary-alt-active)

    &:disabled
      background var(--neutral-30)
      border-color var(--neutral-30)

  &--secondary
    background var(--neutral-00)
    border-color var(--neutral-40)
    color var(--primary)
    font-weight var(--font-weight-medium)

    &:hover
      border-color var(--neutral-50)
      color var(--neutral-90)

    &:active
      background var(--neutral-10)
      border-color var(--primary)
      color var(--neutral-90)

    &:disabled
      background var(--neutral-00)
      border-color var(--neutral-20)
      color var(--neutral-30)

  &--tertiary
    background var(--neutral-00)
    border-color var(--neutral-40)
    color var(--neutral-80)

    &:hover
      background var(--idle)
      border-color var(--neutral-30)
      color var(--primary)

    &:active
      background var(--neutral-00)
      border-color var(--primary)
      color var(--neutral-90)

    &:disabled
      background var(--neutral-00)
      border-color var(--tertiary)
      color var(--neutral-30)

  &--link
    color var(--neutral-70)
    border none
    padding 0.4rem 0.7rem 0.3rem
    margin 0.4rem 0 0.2rem

    &:hover
      border 1px solid var(--neutral-40)

    &:active
      background var(--neutral-40)
      border 1px solid var(--neutral-40)
      color var(--neutral-80)

    &:disabled
      background var(--neutral-00)
      border none
      color var(--neutral-30)

    // Overrides of generic styling for Link-Button
    &.button--icon-right
      .button__text
        margin-right 0

    &.button--icon-left
      .button__text
        margin-left 00

  &--loading,
  &--icon
    display inline-flex
    align-items center

  &--icon-only
    padding 0.8rem 0

    &:hover
      background var(--idle)
      border-color var(--neutral-30)
      color var(--primary)

    &:active
      background var(--neutral-00)
      border-color var(--primary)
      color var(--neutral-90)

    &:disabled
      background var(--neutral-00)
      border-color var(--tertiary)
      color var(--neutral-30)


  &--link-icon
    padding 0.8rem 0
    background var(--neutral-00)
    border none
    color var(--neutral-90)

    &:hover
      background var(--neutral-10)
      border 1px solid var(--neutral-10)

    &:active
      background var(--neutral-20)
      border 1px solid var(--neutral-20)

    &:disabled
      background var(--neutral-00)
      border none
      color var(--neutral-30)

  &--icon-right
    .button__text
      margin-right 1.1rem

  &--icon-left
    .button__text
      margin-left 1.1rem

    .icon
      order -1

.button__text
  width 100%

.button--loading,
.button--icon
  .icon
    // styles for icon-only buttons
    height 1.8rem
    width 3.4rem // FIXME: Why is flexbox breaking all buttons if we remove the explicit width here?!
    flex 0 0 3.4rem // 36px - 2px border

  // Overrides for specific icons
  &:not(.button--icon-only)
    .icon--chevron-right
    .icon--chevron-left
      flex 0 0 0.7rem

    .icon--chevron-down
      flex 0 0 1.6rem

    .icon--check
      flex 0 0 1.3rem

    .icon--cart
      flex 0 0 2rem

a.button
  text-decoration none

.button--loading
  .icon
    svg
      animation rotate-center 1.3s infinite ease-in-out

@keyframes rotate-center
  0%
    transform rotate(0)
  100%
    transform rotate(360deg)