.cart-modal
  max-width 75rem!important
  top 50%
  transform translate(-50%, -50%)
  padding 2rem

  &__content
    text-align center
    display flex
    flex-direction column

    justify-content center
    align-items center

    &--top
      display flex
      flex-direction column
      margin-bottom 2rem

      &--title
        display flex
        justify-content center
        align-items center
        margin-bottom 1rem

      &--buttons
        display flex
        justify-content center
        gap 2rem

    &--bottom
      width 100%
      border-top 1px solid var(--neutral-40)
      padding-top 2rem

    &--products
      width 100%

      .slick-dots
        display flex
        margin-top 1.2rem
        justify-content center
        
        ul
          display flex
          justify-content center
          // background-color var(--neutral-00)
          // border: 1px solid var(--neutral-40)
          // border-radius: 15px
          padding 2px 3px 12px 

          & li button
            cursor pointer
            padding 5px 7px

          & li button span
            display block
            height 10px
            width 10px
            background var(--neutral-40)
            border-radius 100%

          & li.slick-active button span
            background var(--neutral-50)

      .slick-prev, .slick-next
        position absolute
        top 35%
        height 42px
        width  42px
        z-index var(--z-index-low)
        cursor pointer
        color #495057
        -webkit-transition opacity 300ms
        transition opacity 300ms

        &:hover
          opacity 1!important

      .slick-prev
        left 0

      .slick-next
        right 0