.cart-modal
  max-width 46.88rem !important
  top 50%
  transform translate(-50%, -50%)
  padding var(--spacing-m)

  &__content
    text-align center
    display flex
    flex-direction column
    justify-content center
    align-items center

    &--top
      display flex
      flex-direction column
      margin-bottom var(--spacing-m)

      &--title
        display flex
        justify-content center
        align-items center
        margin-bottom var(--spacing-s)

      &--buttons
        display flex
        justify-content center
        gap var(--spacing-m)

    &--bottom
      width 100%
      border-top 0.06rem solid var(--color-primary-content)
      padding-top var(--spacing-m)

    &--products
      width 100%

      .slick-dots
        display flex
        margin-top var(--spacing-s)
        justify-content center

        ul
          display flex
          justify-content center
          // background-color var(--color-primary-content)
          // border: 0.06rem solid var(--color-primary-content)
          // border-radius: 0.94rem
          padding var(--spacing-xs) var(--spacing-xs) var(--spacing-s)

          & li button
            cursor pointer
            padding var(--spacing-xs) var(--spacing-s)

          & li button span
            display block
            height 0.63rem
            width 0.63rem
            background var(--color-primary-content)
            border-radius var(--border-radius-full)

          & li.slick-active button span
            background var(--color-primary-main)

      .slick-prev, .slick-next
        position absolute
        top 35%
        height 2.63rem
        width 2.63rem
        z-index var(--z-index-low)
        cursor pointer
        color var(--color-primary-main)
        -webkit-transition opacity 300ms
        transition opacity 300ms

        &:hover
          opacity 1 !important

      .slick-prev
        left 0

      .slick-next
        right 0
