.nexi-simple
  padding 48px 0
  display flex
  flex-direction column
  gap 8px
  align-items stretch
  
  &__price-container
    display flex
    align-items center
    gap 4px

    &__badge
      --badge-size 8px
      width var(--badge-size)
      height var(--badge-size)
      background-color var(--positive)
      display inline-block
      border-radius 50%
      border 1px solid var(--primary)
    
    &__price
      diana()
      font-weight var(--font-weight-medium)
  
  &.centered
    align-items center
    justify-content center
    padding 48px

    .nexi-simple__text
      max-width 600px