.copytext

  &--150
    font-size var(--font-size-base)
    font-weight var(--font-weight-regular)
    line-height 1.8rem
    padding 0.5rem 0 0.1rem

  &--110
    font-weight var(--font-weight-regular)
    font-size 1.4rem
    line-height 1.8rem
    padding 0.5rem 0 0.1rem

    // TODO: Evaluate if this is the most fitting breakpoint
    @media (min-width 550px)
      font-size 1.8rem
      line-height 2.4rem
      padding 0

